.contentnavigation
  = tabs_tag(:builder => MenuTabBuilder, :namespace => :contentnavigation) do |tab|
    = tab.overview 'Overview', users_profile_path, :id => "users_tab"
    = tab.editdetails 'Edit Details', edit_user_registration_path, :id => "edit_tab"
    - if !current_user.aaf_registered
      = tab.changepassword 'Change Password', users_edit_password_path, :id => "password_tab"
