.contentnavigation
  = tabs_tag(:builder => MenuTabBuilder, :namespace => :contentnavigation) do |tab|
    = tab.overview 'Overview', users_profile_path, :id => "dashboard"
    = tab.editdetails 'Edit Details', edit_user_registration_path, :id => "edit"
    = tab.changepassword 'Change Password', users_edit_password_path

