- content_for :breadcrumb do
  Admin / System Configuration

.form-actions
  .actions-pre
  .actions
    = link_to 'Edit System Configuration', edit_admin_config_path, :class => 'btn btn-primary'

.container
  %h2 System Configuration
  - render_field "Local System Name", @config.name
  - render_field "Research Centre Name", @config.research_centre_name
  - render_field "Overarching Entity", @config.entity
  - render_field "Address", [@config.address1, @config.address2, @config.address3].reject{|s| s.empty?}.join(', ')
  - render_field "Telephone Numbers", @config.telephone_number
  - render_field "Email", @config.email
  - render_field "Description", @config.description
  - render_field "URLs", @config.urls
  - render_field "Type of Org Unit (Singular)", @config.level1
  - render_field "Type of Org Unit (Plural)", @config.level1_plural
  - render_field "Type of Project (Singular)", @config.level2
  - render_field "Type of Project (Plural)", @config.level2_plural
  - render_field "Project Parameters", @config.level2_parameters ? 'Enabled':'Disabled'
  - render_field "Language", @config.language.language_name
  - render_field "Open Access Rights URI", @config.open_access_rights_uri
  - render_field "Conditional Access Rights URI", @config.conditional_access_rights_uri
  - render_field "Restricted Access Rights URI", @config.restricted_access_rights_uri
  - render_field "Rights Statement", @config.rights_statement
  - render_field "Maximum Package Size", @config.friendly_max_package_size

  %h2 OCR Processing
  - render_field "Auto OCR on Upload", @config.auto_ocr_on_upload ? 'Enabled':'Disabled'
  - render_field "Auto OCR Regular Expression", @config.auto_ocr_regex
  - render_field "OCR Supported MIME Types", @config.ocr_types
  .control-group
    .controls
      %i Note: Tesseract will be used if the ABBYY details are not provided.
  - render_field "ABBYY Host", @config.ocr_cloud_host
  - render_field "ABBYY App Name", @config.ocr_cloud_id
  - render_field "ABBYY Password", '*****'

  %h2 Speech Recognition Processing
  - render_field "Auto SR on Upload", @config.auto_sr_on_upload ? 'Enabled':'Disabled'
  - render_field "Auto SR Regular Expression", @config.auto_sr_regex
  - render_field "SR Supported MIME Types", @config.sr_types
  - render_field "Koemei Host", @config.sr_cloud_host
  - render_field "Koemei Login", @config.sr_cloud_id
  - render_field "Koemei Password", '*****'

.form-actions
  .actions-pre
  .actions
    = link_to 'Edit System Configuration', edit_admin_config_path, :class => 'btn btn-primary'
