%p Hello #{@user.email},
%p Someone has requested a link to change your password on the #{@system_name} site. However your account is not active so you cannot reset your password.
%p Please contact the #{@system_name} team for further information.
