%p Hello #{@user.email},
%p Someone has requested a link to change your password on the HIE Data Manager site. However your account is not active so you cannot reset your password.
%p Please contact the HIE Data Manager team for further information.
