%h1 Retired View. This should never ever ever be seen (it's a bug)
.contentnavigation
  = tabs_tag(:builder => MenuTabBuilder, :namespace => :contentnavigation) do |tab|
    = tab.users 'Users', users_path, :id => "users"
    = tab.accessrequests 'Access Requests', access_requests_users_path, :id => "requests"
    = tab.columnmappings 'Column Mappings', column_mappings_path, :id => "mappings"
