%h1 Retired View. This should never ever ever be seen (it's a bug)
-#.pageactions
-#  = link_to "+ Create New User", users_path, :class => "bluebutton"
-#  = link_to "<span>Search Users</span>".html_safe, root_url, :class => "search whitebutton floatright"
