.pageactions
  = link_to "Download Data", download_data_file_path(@data_file), :class => "bluebutton"
  .searchcontainer

    .searchbox
      <input id="datasearch" name="datasearch" type="text" placeholder="Search...">
      .search.datasearchsubmit.bluebutton
        %span
      .searchactions
        .options.whitebutton
          %span
        .close.searchclose.redbutton
          %span ×
    #search.search.whitebutton
      %span Search Data
