.pageactions
  = link_to "Download Data", download_data_file_path(@data_file), :class => "bluebutton"
  - if can?(:manage, DataFile) || @data_file.created_by.eql?(current_user)
    = link_to "Delete This File", data_file_path(@data_file), :class => "redbutton", :confirm => "Do you really want to remove this file from the dataset?", :method => :delete
  .searchcontainer

    .searchbox
      <input id="datasearch" name="datasearch" type="text" placeholder="Search...">
      .search.datasearchsubmit.bluebutton
        %span
      .searchactions
        .options.whitebutton
          %span
        .close.searchclose.redbutton
          %span ×
    #search.search.whitebutton
      %span Search Data
