%h1 Data / Upload
#content_container
  = render :partial => 'applet', :locals => {:allow_multiselect => true,
                                                  :file_selection_mode => "files_only",
                                                  :upload_url => data_files_url(:format => :json)}

  #upload_notifications

  %br/
  = link_to "Done", data_files_path, :class => "bluebutton"

