.pageactions
  = link_to "+ New Data Entry", upload_data_path, :id => "newdataentry", :class => "bluebutton"
  #search.search.whitebutton.floatright
    %label{ :for => "datasearch"} Search Data
  .searchactions.floatright
    .options.whitebutton
      %span Advanced Search
    .close.searchclose.redbutton
      %span ×
.searchcontainer
  .close.reset
    %span.searchreset ×
  <input id="datasearch" name="datasearch" type="text" placeholder="Search...">
  .search.datasearchsubmit.bluebutton
    %span
