.pageactions
  = link_to "+ New Data Entry", new_data_files_path, :id => "newdataentry", :class => "bluebutton"
  .searchcontainer

    .searchbox
      <input id="datasearch" name="datasearch" type="text" placeholder="Search...">
      .search.datasearchsubmit.bluebutton
        %span
      .searchactions
        .options.whitebutton
          %span
        .close.searchclose.redbutton
          %span ×
    #search.search.whitebutton
