!!!
- # This is the default template for the README.html file that is packaged on download
- # You have access to the following locals:
- # "data_files" which is an array of DataFile (rails model) objects chosen for the package
- # "package" which contains the package metadata for the zipped data_files
- # "facilities" which is an array of Facility (rails model) objects associated with the chosen data files
- # "experiments" which is an array of Experiment (rails model) objects for the chosen data files
- # "metadata_helper" which is a MetadataUrlHelper object that can be used to find the URLs for the models
%html
  %head
  %body
    %div
      New template for README.html
    %div
      To revert back to original, rename or remove this template and replace with the name 'readme_template.html.haml'