@charset "UTF-8"

@import master

// GENERAL ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//*/

.container h2, .container_centered h2
  +m-p-w-h-p-t-b-l-r-f(0 0 20 0)
  +border(1px, dashed, #B9B9B9, 0 0 1px 0)

// GENERAL ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//*/

#content .container input[type="password"], #content .container input[type="text"]
  width: 428px

#content .container_centered input[type="password"], #content .container_centered input[type="text"]
  width: 428px

.container .rowform span, .container_centered .rowform span
  line-height: 36px

.container label, .container_centered label
  +m-p-w-h-p-t-b-l-r-f("", 10px 20px 10px 0)

// LAYOUT - PAGE STRUCTURE
///*///////////////////////////////////////////////////////////////////////////////////////////////*/

.pageactions
  +m-p-w-h-p-t-b-l-r-f(10px 0)

// DASHBOARD /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//*/

// DASHBOARD - USER PANNELS
///*///////////////////////////////////////////////////////////////////////////////////////////////*/

.userpannel
  +m-p-w-h-p-t-b-l-r-f(0 20px 0 0)
  +inlineblock

.userpannel h3
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px 5px 15px)
  +border(1px, solid, #E1E1E1, 0 0 1px 0)
  color: $dark3
  +gradient-light-1

.myprojects, .recentuploads
  +m-p-w-h-p-t-b-l-r-f(0 0 20px 0, "", 260px, 300px)
  background: #FAFAFA
  +border(1px, solid, #DCDCDC, "", 2px)

.recentactivity
  margin: 0
  +inlineblock

// TABLES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

/* Specific cell types to balance width - List Users
th.view, td.view
  +width(60px, 60px, 60px)
  text-align: center

th.role, td.role, th.status, td.status
  +width(60px, 60px, 60px)

th.email, td.email
  +width(220px, 220px, 220px)

th.date, td.date
  +width(140px, 140px, 140px)

th.actions, td.actions
  +width(40px, 40px, 40px)

// EXPLORE ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//*/

#exploredata th
  padding: 10px 25px 9px 0

th span
  margin: 2px 10px 0 5px
  padding: 0
  height: 14px
  width: 20px
  +inlineblock
  cursor: pointer
  background: url("../images/header-active.png") center center no-repeat
  background-size: 12px

th span:hover
  background: url("../images/header-active-dark.png") center center no-repeat

// TABLES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

h3.upload
  +m-p-w-h-p-t-b-l-r-f("", 20px 0 10px 0)
