@charset "UTF-8"

@import master

// GENERAL ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

.container h2, .container_centered h2
  +m-p-w-h-p-t-b-l-r-f(0 0 20 0)
  +border(1px, dashed, #B9B9B9, 0 0 1px 0)

// GENERAL ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

#content .container input[type="password"], #content .container input[type="text"]
  width: 428px

#content .container_centered input[type="password"], #content .container_centered input[type="text"]
  width: 428px

.container .rowform span, .container_centered .rowform span
  line-height: 36px

.container label, .container_centered label
  +m-p-w-h-p-t-b-l-r-f("", 10px 20px 10px 0)

// LAYOUT - PAGE STRUCTURE
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.pageactions
  +m-p-w-h-p-t-b-l-r-f(10px 0)

// PAGE ACTIONS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

.searchcontainer
  +inlineblock
  float: right
  .searchbox, .search
    +inlineblock
  .searchbox
    +m-p-w-h-p-t-b-l-r-f("", "", 861px, 32px)
    +inlineblock
    display: none
    form
      +inlineblock
    input[type=text]
      +m-p-w-h-p-t-b-l-r-f(0, "", 560px)
    input
      

.searchactions
  +m-p-w-h-p-t-b-l-r-f("")
  +inlineblock
  .options, .close
    +m-p-w-h-p-t-b-l-r-f("", 6px 10px)


// DASHBOARD /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

// DASHBOARD - USER PANNELS
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.userpannel
  +m-p-w-h-p-t-b-l-r-f(0 20px 0 0)
  +inlineblock

.userpannel h3
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px 5px 15px)
  +border(1px, solid, #E1E1E1, 0 0 1px 0)
  color: $dark3
  +gradient-light-1

.myprojects, .recentuploads
  +m-p-w-h-p-t-b-l-r-f(0 0 20px 0, "", 260px, 300px)
  background: #FAFAFA
  +border(1px, solid, #DCDCDC, "", 2px)

.recentactivity
  margin: 0
  +inlineblock

// TABLES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

/* Specific cell types to balance width - List Users
th.view, td.view
  +width(60px, 60px, 60px)
  text-align: center

th.role, td.role, th.status, td.status
  +width(60px, 60px, 60px)

th.email, td.email
  +width(220px, 220px, 220px)

th.date, td.date
  +width(140px, 140px, 140px)

th.actions, td.actions
  +width(40px, 40px, 40px)

// EXPLORE ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

// EXPLORE - FACETED SEARCH
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.facetedsearch
  +m-p-w-h-p-t-b-l-r-f(0 20px 20px 0, "", "", 100%)
  min-width: 20px
  +inlineblock
  +border(1px, solid, #DCDCDC, "", 2px)
  background: #FAFAFA
  .searchbox
    +m-p-w-h-p-t-b-l-r-f("", "", 260px)

    h3
      +m-p-w-h-p-t-b-l-r-f("", 5px 10px 5px 15px)
      +border(1px, solid, #E1E1E1, 0 0 1px 0)
      color: $dark2
      +gradient-light-1

    .date, .time, .facility
      +m-p-w-h-p-t-b-l-r-f("", 0 15px)

      input[type=text]
        +m-p-w-h-p-t-b-l-r-f("", "", 20px)
        +font("", normal, 0.813em, 18px)
      input[type=text].year
        +m-p-w-h-p-t-b-l-r-f("", "", 30px)

      h4
        +m-p-w-h-p-t-b-l-r-f("", 15px 0)

.recentactivity
  margin: 0
  +inlineblock

#exploredata
  +width(770px, 770px, 770px)
.blahblah
  +inlineblock

.pageactions
  .bluebutton
    +m-p-w-h-p-t-b-l-r-f("", 6px 10px)

.close.reset
  +m-p-w-h-p-t-b-l-r-f(0 -435px 0 0, "", "", "", absolute, 167px, "", "", 50%)
  cursor: pointer

input#datasearch
  +inlineblock
  +m-p-w-h-p-t-b-l-r-f(0 -10px 0 0, "", 660px)

input.datasearchsubmit
  +inlineblock
  +m-p-w-h-p-t-b-l-r-f(0 0 0 -144px, "", "", 32px, "", "", "", "", "", right)


th.sortable 
  a
    +m-p-w-h-p-t-b-l-r-f("", 0 20px 0 0, "", "")
    +inlineblock
    cursor: pointer
    background: url("../images/icon_arrow_right_light.png") center right no-repeat
    background-size: 6px
    &:hover
      background: url("../images/icon_arrow_down_dark.png") center right no-repeat
      background-size: 12px
  a.current.asc
    background: url("../images/icon_arrow_up_blue.png") center right no-repeat
    background-size: 12px
    &:hover
      background: url("../images/icon_arrow_down_dark.png") center right no-repeat
      background-size: 12px
  a.current.desc
    background: url("../images/icon_arrow_down_blue.png") center right no-repeat
    background-size: 12px
    &:hover
      background: url("../images/icon_arrow_up_dark.png") center right no-repeat
      background-size: 12px
form
  .select
    display: none


// TABLES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

h3.upload
  +m-p-w-h-p-t-b-l-r-f("", 20px 0 10px 0)

.failedexistance
  margin: 0
  padding: 0 0 0 30px
  height: 18px
  max-width: 520px
  top: 2px
  position: relative
  line-height: 15px
  background: url('/images/icon_delete_16px.png') no-repeat
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  +inlineblock


.file_status .success, .file_status .failed, .file_status .working
  width: 630px
  height: 18px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  +inlineblock


.file_status .working
  margin: 0
  padding: 0 0 0 30px
  height: 18px
  width: 630px
  top: 2px
  position: relative
  background: url('/images/indicator.gif') no-repeat
  +inlineblock

.failed
  margin: 0
  padding: 0 0 0 30px
  height: 16px /* width: 16px */
  top: 2px
  position: relative
  background: url('/images/icon_delete_16px.png') no-repeat
  +inlineblock


.success
  margin: 0
  padding: 0 0 0 30px
  height: 16px /* width: 16px */
  top: 2px
  position: relative
  background: url('/images/icon_approve_16_by_16.png') no-repeat
  +inlineblock

.alert-message, .flash
  position: relative
  padding: 7px 15px
  margin-bottom: 18px
  color: #404040
  background-color: #eedc94
  background-repeat: repeat-x
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94))
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94)
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94))
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94)
  background-image: -o-linear-gradient(top, #fceec1, #eedc94)
  background-image: linear-gradient(top, #fceec1, #eedc94)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  border-color: #eedc94 #eedc94 #e4c652
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  border-width: 1px
  border-style: solid
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25)
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25)


.alert-message .close
  margin-top: 1px
  *margin-top: 0

.alert-message a
  font-weight: bold
  color: #404040

.alert-message.danger p a,
.alert-message.error p a,
.alert-message.success p a,
.alert-message.info p a 
  color: #ffffff

.alert-message h5
  line-height: 18px

.alert-message p, .flash p
  margin-bottom: 0

.alert-message div
  margin-top: 5px
  margin-bottom: 2px
  line-height: 28px

.alert-message .btn
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)

.alert-message.block-message
  background-image: none
  background-color: #fdf5d9
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  padding: 14px
  border-color: #fceec1
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none

.alert-message.block-message ul, .alert-message.block-message p
  margin-right: 30px

.alert-message.block-message ul
  margin-bottom: 0

.alert-message.block-message li
  color: #404040

.alert-message.block-message .alert-actions
  margin-top: 5px

.alert-message.block-message.error, .alert-message.block-message.success, .alert-message.block-message.info
  color: #404040
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)

.alert-message.block-message.error
  background-color: #fddfde
  border-color: #fbc7c6

.alert-message.block-message.success
  background-color: #d1eed1
  border-color: #bfe7bf

.alert-message.block-message.info
  background-color: #ddf4fb
  border-color: #c6edf9

.alert-message.block-message.danger p a,
.alert-message.block-message.error p a,
.alert-message.block-message.success p a,
.alert-message.block-message.info p a
  color: #404040

.close
  float: right
  color: #000000
  font-size: 20px
  font-weight: bold
  line-height: 13.5px
  text-shadow: 0 1px 0 #ffffff
  filter: alpha(opacity=25)
  -khtml-opacity: 0.25
  -moz-opacity: 0.25
  opacity: 0.25

.close:hover
  color: #000000
  text-decoration: none
  filter: alpha(opacity=40)
  -khtml-opacity: 0.4
  -moz-opacity: 0.4
  opacity: 0.4

