@import master


.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

.clearfix 
  display: inline-block

html[xmlns] .clearfix
  display: block
   
* html .clearfix 
  height: 1%

.datacontroll #searched_attrs
  font-size: 0.8em

.datacontroll .leftsearch
  width: 270px
  +inlineblock
  float: left

.clearresults
  +inlineblock
  text-align: center
  +clearfix
  margin: 0 20px
  // border-top: 1px solid #DDD

.clearresults a
  height: 20px

a.clearsearch
  font-size: 13px
  width: 153px

.leftsearch
  text-align: center
  // float: left

span.results
  font-family: Helvetica,Arial,sans-serif
  font-size: 13px
  line-height: 28px
  font-weight: normal



.dropdown-menu li > a
  clear: both
  color: #333333
  display: block
  font-weight: normal
  line-height: 20px
  padding: 3px 20px
  white-space: nowrap

#drop4
  width: 244px

.open #drop4
  border: 1px solid #bbbbbb

.btn-group > .btn:first-child
  margin-left: 0
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle
  border-bottom-right-radius: 4px
  border-top-right-radius: 4px

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover
  font-size: 14px

.btn-group > .btn
  border-radius: 0 0 0 0
  position: relative

.btn:first-child
  button.btn, input.btn[type="submit"]


.btn, a.btn
  margin-bottom: 0
  padding: 5px 12px
  -moz-border-bottom-colors: none
  -moz-border-left-colors: none
  -moz-border-right-colors: none
  -moz-border-top-colors: none
  background-color: #F5F5F5
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6)
  background-repeat: repeat-x
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2
  border-image: none
  border-radius: 2px
  border-style: solid
  border-width: 1px
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
  color: #333333
  cursor: pointer
  display: inline-block
  font-size: 12px
  line-height: 18px
  text-align: center
  // text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
  text-shadow: none
  vertical-align: middle

.btn.disabled:hover
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25)

.btn.disabled,
.btn[disabled]
  color: #333333
  background-color: #e6e6e6
  *background-color: #d9d9d9
  cursor: default
  background-image: none
  opacity: 0.65
  filter: alpha(opacity=65)
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none

.btn-primary, a.btn-primary, input[type="submit"]
  padding: 5px 12px
  color: #ffffff
  font-size: 12px
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  background-color: #4d90fe
  *background-color: #0044cc
  background-image: none
  background-repeat: repeat-x
  border-width: 1px
  border-color: #0044cc #0044cc #002a80
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)

  &:hover
    color: #FFF
    +gradient-blue-2
    +border(1px, solid, $blue5)

.btn-danger, a.btn-danger
  color: #ffffff
  font-size: 12px
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  background-color: #ff5742
  *background-color: #bd362f
  background-image: none
  background-repeat: repeat-x
  border-color: #bd362f #bd362f #802420
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)

  &:hover
    color: #FFF
    +gradient-red-2
    +border(1px, solid, $red5)

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled]
  color: #ffffff
  background-color: #bd362f
  *background-color: #a9302a

.btn-danger:active, .btn-danger.active
  background-color: #942a25 \9

.dropdown-toggle
  height: 20px
  input, button, select, textarea
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  label, input, button, select, textarea
    font-size: 14px
    font-weight: normal
    line-height: 20px
  label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"]
    cursor: pointer
  button, html input[type="button"], input[type="reset"], input[type="submit"]

.btn .caret
  margin-left: 0
  margin-top: 8px

.caret
  border-left: 4px solid transparent
  border-right: 4px solid transparent
  border-top: 4px solid #000000
  content: ""
  display: inline-block
  height: 0
  vertical-align: top
  width: 0

.open #drop3
  border: 1px solid #BBB

.dropdown-menu li > a
  clear: both
  color: #333333
  display: block
  font-weight: normal
  line-height: 20px
  padding: 3px 20px
  white-space: nowrap
  list-style: none outside none

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover
  font-size: 14px

.dropdown-menu
  list-style: none outside none

li
  line-height: 20px

.dropdown-menu
  list-style: none outside none

.dropup, .dropdown 
  position: relative


.dropdown-toggle 
  *margin-bottom: -3px


.dropdown-toggle:active, .open .dropdown-toggle 
  outline: 0


.caret 
  display: inline-block
  width: 0
  height: 0
  vertical-align: top
  border-top: 4px solid #000000
  border-right: 4px solid transparent
  border-left: 4px solid transparent
  content: ""


.dropdown .caret 
  margin-top: 8px
  margin-left: 2px


.dropdown-menu 
  position: absolute
  top: 100%
  left: 0
  z-index: 1000
  display: none
  float: left
  //min-width: 160px
  min-width: auto
  padding: 5px 0
  margin: -2px 0 0
  list-style: none
  background-color: whiteSmoke
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-top: 0px
  *border-right-width: 2px
  *border-bottom-width: 2px
  -webkit-border-radius: 0 0 6px 6px
  -moz-border-radius: 0 0 6px 6px
  border-radius: 0 0 6px 6px
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  -webkit-background-clip: padding-box
  -moz-background-clip: padding
  background-clip: padding-box


.dropdown-menu.pull-right 
  right: 0
  left: auto


.dropdown-menu .divider 
  *width: 100%
  height: 1px
  margin: 9px 1px
  *margin: -5px 0 5px
  overflow: hidden
  background-color: #e5e5e5
  border-bottom: 1px solid #ffffff

.dropdown-menu li
  display: block

.dropdown-menu li > a 
  display: block
  padding: 3px 12px
  clear: both
  font-weight: normal
  line-height: 20px
  color: #333333
  white-space: nowrap


.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a 
  color: #ffffff
  text-decoration: none
  background-color: #333

.dropdown-menu .active > a, .dropdown-menu .active > a:hover 
  color: #ffffff
  text-decoration: none
  background-color: #333


.dropdown-menu a.disabled, .dropdown-menu a.disabled:hover 
  color: #CCC


.dropdown-menu a.disabled:hover 
  text-decoration: none
  cursor: default
  background-color: #EFEFEF
  background-image: none
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)

.bluebutton.disabled
  background-color: #EFEFEF
  background-image: none
  border: 1px solid #DEDEDE
  color: #CCC
  cursor: not-allowed

.bluebutton.disabled:hover
  background-color: #EFEFEF
  background-image: none
  border: 1px solid #DEDEDE
  color: #CCC
  cursor: not-allowed

.greybutton
  background-color: #EFEFEF
  background-image: none
  border: 1px solid #DEDEDE
  color: #CCC

.greybutton:hover
  background-color: #EFEFEF
  background-image: none
  border: 1px solid #DEDEDE
  color: #CCC

.open 
  *z-index: 1000


.open > .dropdown-menu 
  display: block


.pull-right > .dropdown-menu 
  right: 0
  left: auto


.dropup .caret, .navbar-fixed-bottom .dropdown .caret 
  border-top: 0
  border-bottom: 4px solid #000000
  content: ""


.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu 
  top: auto
  bottom: 100%
  margin-bottom: 1px


.dropdown-submenu 
  position: relative


.dropdown-submenu > .dropdown-menu 
  top: 0
  left: 100%
  margin-top: -6px
  margin-left: -1px
  -webkit-border-radius: 0 6px 6px 6px
  -moz-border-radius: 0 6px 6px 6px
  border-radius: 0 6px 6px 6px


.dropdown-submenu:hover > .dropdown-menu 
  display: block


.dropup .dropdown-submenu > .dropdown-menu 
  top: auto
  bottom: 0
  margin-top: 0
  margin-bottom: -2px
  -webkit-border-radius: 5px 5px 5px 0
  -moz-border-radius: 5px 5px 5px 0
  border-radius: 5px 5px 5px 0


.dropdown-submenu > a:after 
  display: block
  float: right
  width: 0
  height: 0
  margin-top: 5px
  margin-right: -10px
  border-color: transparent
  border-left-color: #cccccc
  border-style: solid
  border-width: 5px 0 5px 5px
  content: " "


.dropdown-submenu:hover > a:after 
  border-left-color: #ffffff


.dropdown-submenu.pull-left 
  float: none


.dropdown-submenu.pull-left > .dropdown-menu 
  left: -100%
  margin-left: 10px
  -webkit-border-radius: 6px 0 6px 6px
  -moz-border-radius: 6px 0 6px 6px
  border-radius: 6px 0 6px 6px


.dropdown .dropdown-menu .nav-header 
  padding-right: 20px
  padding-left: 20px


// GENERAL ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

#content h1
  +width(890px,890px,890px)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.container h2, .container_centered h2
  +m-p-w-h-p-t-b-l-r-f(0 0 20px 170px, 10px 0 0 0)
  +border(1px, solid, #D9D9D9, 1px 0 0 0)
  +font("", normal, 1.5em, 30px)
  +width(630px,630px,630px)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.container_home
  

// GENERAL ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

//#content .container input[type="password"], #content .container input[type="text"], #content .container textarea
  //width: 408px

//#content .container_centered input[type="password"], #content .container_centered input[type="text"]
  //width: 408px


.container label, .container_centered label

// LAYOUT - PAGE STRUCTURE
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.pageactions
  +m-p-w-h-p-t-b-l-r-f(10px 0)


// PAGE ACTIONS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

.searchcontainer
  +inlineblock
  float: right
  .searchbox, .search
    +inlineblock
  .searchbox
    +m-p-w-h-p-t-b-l-r-f("", "", 861px, 32px)
    +inlineblock
    display: none
    form
      +inlineblock
    input[type=text]
      +m-p-w-h-p-t-b-l-r-f(0, "", 560px)


input#from_date, input#to_date, input#upload_from_date, input#upload_to_date, input#publish_date
  width: 65px

#search_uploader_id
  margin-left: 20px

.searchactions
  +m-p-w-h-p-t-b-l-r-f("")
  +inlineblock
  .options, .close
    +m-p-w-h-p-t-b-l-r-f("", 6px 10px)


// DASHBOARD /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

// DASHBOARD - USER PANNELS
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.userpannel
  +m-p-w-h-p-t-b-l-r-f(0 20px 0 0)
  +inlineblock

.userpannel h3
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px 5px 15px)
  +border(1px, solid, #E1E1E1, 0 0 1px 0)
  color: $dark3
  +gradient-light-1

.myprojects, .recentuploads
  +m-p-w-h-p-t-b-l-r-f(0 0 20px 0, "", 260px, 300px)
  background: #FAFAFA
  +border(1px, solid, #DCDCDC, "", 2px)

.recentactivity
  margin: 0
  +inlineblock

.need_action
  +m-p-w-h-p-t-b-l-r-f(0 0 20px 0 , 8px 35px 8px 14px)
  background: #FCF8E3
  +border(1px, solid, #FBEED5, "", 4px)
  h3
    color: #C09853
  

// TABLES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

/* Specific cell types to balance width - List Users */
th.view, td.view
  +width(60px, 60px, 60px)
  text-align: center

th.role, td.role, th.status, td.status
  +width(100px, 100px, 100px)

th.email, td.email
  +width(250px, 250px, 250px)

th.name, td.name
  +width(182px, 182px, 182px)

th.date, td.date
  +width(140px, 140px, 140px)

th.actions, td.actions
  +width(40px, 40px, 40px)

// EXPLORE ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

// EXPLORE - FACETED SEARCH
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.facetedsearch.search
  // +inlineblock
.facetedsearch
  +m-p-w-h-p-t-b-l-r-f(-1px 0 0 0, 0 0 0px 0, 268px)
  // min-width: 20px
  // display: none
  // +border(1px, solid, #DCDCDC, 0px 1px 1px 1px, 2px)
  // background: #FAFAFA
  text-align: left
  .searchbox
    +m-p-w-h-p-t-b-l-r-f("", "", 268px)

    .searchcategory
      // +m-p-w-h-p-t-b-l-r-f(0, 0, auto)

      h4
        +m-p-w-h-p-t-b-l-r-f("", 10px 40px 9px 40px)
        +border(1px, solid, #E1E1E1, 1px 0 0px 0)
        color: $dark2
        font-size: 14px
        +gradient-light-1
        cursor: pointer
        background: url("../images/icon_arrow_right_light.png") 15px center no-repeat
        -moz-background-size: 6px
        background-size: 6px
        &:hover
          background: url("../images/icon_arrow_down_dark.png") 15px center no-repeat
          -moz-background-size: 12px
          background-size: 12px
      h4.current
        background: url("../images/icon_arrow_down_blue.png") 15px center no-repeat
        -moz-background-size: 12px
        background-size: 12px
        &:hover
          background: url("../images/icon_arrow_right_light.png") 15px center no-repeat
          -moz-background-size: 6px
          background-size: 6px

    .date, .time, .facility, .variable, .filename, .description, .file_id, .id, .type, .tags, .uploader, .upload_date
      +m-p-w-h-p-t-b-l-r-f(10px 0)

      .date-format
        +m-p-w-h-p-t-b-l-r-f("", 10px 10px 10px 144px, 100px)
        +font("", bold, 12px, 18px, $dark3, "", left)

      label
        +m-p-w-h-p-t-b-l-r-f("", 10px 10px 10px 20px, 100px)
        +font("", bold, 12px, 18px, $dark3, "", left)

      input[type=text]
        +m-p-w-h-p-t-b-l-r-f("", "", 90px)
        +font("", normal, 12px, 18px)
      input[type=text].year
        +m-p-w-h-p-t-b-l-r-f("", "", 30px)
      select
        +font("", normal, 12px, 18px)

      input[type=checkbox]
        +m-p-w-h-p-t-b-l-r-f(10px 0)

      h4
        +m-p-w-h-p-t-b-l-r-f("", 15px 0)

    .variable, .facility, .type
      label
        +m-p-w-h-p-t-b-l-r-f("", 5px 10px 0 20px, 190px)
        +inlineblock
      input[type=checkbox]
        +m-p-w-h-p-t-b-l-r-f(7px 0)
        +inlineblock
      label.variable_child, label.type_child
        +m-p-w-h-p-t-b-l-r-f("", 5px 0px 0 40px, 189px)
        +inlineblock
      label.variable_parent
        +m-p-w-h-p-t-b-l-r-f("", 3px 0px 0 5px, 190px)
        +inlineblock
      label.facility_parent, label.type_parent
        +m-p-w-h-p-t-b-l-r-f("", 5px 0px 0 5px, 190px)
        +inlineblock
      label.experiment, div.publish_title
        +m-p-w-h-p-t-b-l-r-f("", 5px 0px 0 40px, 189px)
        +font("", bold, 12px, 18px, $dark3, "", left)
        +inlineblock
      label.experiment, label.publish
        +m-p-w-h-p-t-b-l-r-f("", 5px 0px 0 40px, 92px)
        +inlineblock
      label.experiment, label.publish_option
        +m-p-w-h-p-t-b-l-r-f("", 5px 0px 0 60px, 169px)
        +inlineblock
      label.publish_date
        width: 65px
        +m-p-w-h-p-t-b-l-r-f(1px 30px)

      label.type
        padding: 0 19px 0 20px

    .actions
      +m-p-w-h-p-t-b-l-r-f(20px 0 15px, 0 0 10px 0)
      text-align: center


.recentactivity
  margin: 0
  +inlineblock

.pageactions
  .bluebutton, .redbutton
    +m-p-w-h-p-t-b-l-r-f("", 6px 10px)

.close.reset
  +m-p-w-h-p-t-b-l-r-f(0 -435px 0 0, "", "", "", absolute, 167px, "", "", 50%)
  cursor: pointer

input#datasearch
  +inlineblock
  +m-p-w-h-p-t-b-l-r-f(0 -10px 0 0, "", 660px)

input.datasearchsubmit
  +m-p-w-h-p-t-b-l-r-f(0 0 0 -144px, "", "", 32px, "", "", "", "", "", right)

a.expand_variable, a.expand_facility, a.expand_type, a.expand_package
  padding-left: 20px
  width: 10px
  +inlineblock

// EXPLORE - DATA TABLE
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.searchcontroll
  float: left

.pagination
  height: 40px
  margin: 20px 0

.controls select
  margin-top: 3px
  max-width: 570px

.controls .record
  overflow: hidden
  text-overflow: ellipsis
  label.tag
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 600px

.controls .description
  height: 100px
  word-wrap: break-word
  overflow-y: scroll
  -ms-overflow-y: scroll

#files_input
  label.control-label
    clear: both
  .controls
    margin-bottom: 10px


/* line 10, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination ul 
  display: inline-block
  margin-left: 0
  margin-bottom: 0
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)


/* line 18, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination ul > li 
  display: inline


/* line 22, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination ul > li > a,
.pagination ul > li > span 
  float: left
  padding: 0 13px
  line-height: 38px
  text-decoration: none
  background-color: white
  color: #666
  border: 1px solid #dddddd
  border-left-width: 0


/* line 33, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span 
  background-color: #333
  color: #EFEFEF
  border-top: 1px solid #000
  border-bottom: 1px solid #000
  border-right: 1px solid #000


/* line 37, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination ul > .active > a,
.pagination ul > .active > span 
  color: #333
  background: #F1F1F1
  border: 1px solid #DFDFDF
  border-left: 0px solid #000
  cursor: default


/* line 43, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover 
  color: #CCC
  background-color: transparent
  cursor: default
  border-top: 1px solid #DDD
  border-bottom: 1px solid #DDD
  border-right: 1px solid #DDD


/* line 49, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span 
  border-left-width: 1px
  -webkit-border-radius: 3px 0 0 3px
  -moz-border-radius: 3px 0 0 3px
  border-radius: 3px 0 0 3px


/* line 54, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span 
  -webkit-border-radius: 0 3px 3px 0
  -moz-border-radius: 0 3px 3px 0
  border-radius: 0 3px 3px 0


/* line 59, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination-centered 
  text-align: center


/* line 62, /Users/mezdef/.rvm/gems/ruby-1.9.2-p290@dc21app/gems/bootstrap-sass-2.1.1.0/vendor/assets/stylesheets/bootstrap/_pagination.scss */
.pagination-right 
  text-align: right


.pagination
  height: 30px
  margin: 0 0 20px 0
  text-align: center

.pagination ul > li > a, .pagination ul > li > span
  padding: 0 13px
  line-height: 28px
  background-color: white
  border: 1px solid #DDD
  border-left-width: 0
  font-size: 12px

h3.upload
  +m-p-w-h-p-t-b-l-r-f("", 20px 0 10px 0)

.datacontroll
  +m-p-w-h-p-t-b-l-r-f("", "", "", "")
  +clearfix

  h3.filter
    +m-p-w-h-p-t-b-l-r-f("", 0 20px 0 0, 265px)
    +font("", normal, 13px)
    float: left
  .data-results
    +m-p-w-h-p-t-b-l-r-f(0 0 0 0, "", 770px)
    +inlineblock
    +clearfix
    h3.results
      +inlineblock
      +font("", normal, 13px)

  #downloadtoggle, .facility.new.whitebutton, .data-results .whitebutton
    a
      font-weight: normal
  #downloadtoggle
    display: none


.recentactivity #exploredata
  td.filename, th.filename
    +width(400px, 400px, 400px)
    a
      +width(400px, 400px, 400px)
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

#experiment_parameters

  th, td
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  th.comments, td.comments
    +width(400px, 400px, 400px)

#facilities
  table-layout: fixed
  tr
    +width(1060px, 1060px, 1060px)
  th.name, td.name
    +width(766px, 766px, 766px)    
    a
      +width(766px, 766px, 766px)
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
 
  th.code, td.code
    +width(274px, 274px, 274px)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

#column_mappings
  table-layout: fixed
  th.code, td.code
    +width(808px, 808px, 808px)

.exploredata.search, #exploredata.search, #exploredata.search tbody, .exploredata.cart, #exploredata.cart, #exploredata.cart tbody
  +inlineblock
  +width(1060px, 1060px, 1060px)
  overflow: none

#exploredata.search, #exploredata.search tbody, #exploredata.cart, #exploredata.cart tbody
  display: table
  tr
    +width(1060px, 1060px, 1060px)
  td.view.select, th.view.select
    +width(40px, 40px, 40px)
  td.view, th.view
    +width(50px, 50px, 50px)
  td.filename, th.filename
    +width(420px, 420px, 420px)
    a
      +width(150px, 150px, 150px)
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    a.sort_link
      +width(auto, auto, auto)

  td.date, th.date
    +width(110px, 110px, 110px)
  td.email, th.email
    +width(130px, 130px, 130px)
  td.type, th.type
    +width(50px, 50px, 50px)
  td.experiment, th.experiment
    +width(100px, 100px, 100px)
  td.experiment, th.experiment
    +width(120px, 120px, 120px)


th.sortable 
  a
    +m-p-w-h-p-t-b-l-r-f("", 0 20px 0 0, "", "")
    +inlineblock
    cursor: pointer
    background: url("../images/icon_arrow_right_light.png") center right no-repeat
    -moz-background-size: 6px
    background-size: 6px
    &:hover
      background: url("../images/icon_arrow_down_dark.png") center right no-repeat
      -moz-background-size: 12px
      background-size: 12px
  a.current.asc
    background: url("../images/icon_arrow_up_blue.png") center right no-repeat
    -moz-background-size: 12px
    background-size: 12px
    &:hover
      background: url("../images/icon_arrow_down_dark.png") center right no-repeat
      -moz-background-size: 12px
      background-size: 12px
  a.current.desc
    background: url("../images/icon_arrow_down_blue.png") center right no-repeat
    -moz-background-size: 12px
    background-size: 12px
    &:hover
      background: url("../images/icon_arrow_up_dark.png") center right no-repeat
      -moz-background-size: 12px
      background-size: 12px
form
  .select
    //display: none

/* !LAYOUT - !FACILITIES ///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

.container.experiments .form-actions
  margin: 18px 0 0 0
  padding: 18px 20px 0 0
  .actions-pre
    padding: 10px 0 0 0

.experiment.new.btn
  width: auto

.experiment.new.btn a
  display: block
  text-align: left

/* SHOW DATA ///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/


.description
  .rowform
    white-space: normal
    overflow: visible
    text-overflow: ellipsis

    span
      width: 880px

/* !LAYOUT - ! ///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

// TABLES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//



.failedexistance
  margin: 0
  padding: 0 0 0 30px
  height: 18px
  max-width: 520px
  top: 2px
  position: relative
  line-height: 15px
  background: url('/images/icon_delete_16px.png') no-repeat
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  +inlineblock


.file_status .success, .file_status .failed, .file_status .working
  width: 630px
  height: 18px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  +inlineblock


.file_status .working
  margin: 0
  padding: 0 0 0 30px
  height: 18px
  width: 630px
  top: 2px
  position: relative
  background: url('/images/indicator.gif') no-repeat
  +inlineblock

.failed
  margin: 0
  padding: 0 0 0 30px
  height: 16px /* width: 16px */
  top: 2px
  position: relative
  //background: url('/images/icon_delete_dark.png') 10px center no-repeat
  +inlineblock


.success
  margin: 0
  padding: 0 0 0 30px
  height: 16px /* width: 16px */
  top: 2px
  position: relative
  +inlineblock

ul.alert
  li
    +m-p-w-h-p-t-b-l-r-f("", 0 0 0 10px, 560px)
    

.alert-message, .flash
  position: relative
  padding: 7px 15px
  margin-bottom: 18px
  color: #404040
  background-color: #eedc94
  background-repeat: repeat-x
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94))
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94)
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94))
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94)
  background-image: -o-linear-gradient(top, #fceec1, #eedc94)
  background-image: linear-gradient(top, #fceec1, #eedc94)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  border-color: #eedc94 #eedc94 #e4c652
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  border-width: 1px
  border-style: solid
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25)
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25)


.alert-message .close
  margin-top: 1px
  *margin-top: 0

.alert-message a
  font-weight: bold
  color: #404040

.alert-message.danger p a,
.alert-message.error p a,
.alert-message.success p a,
.alert-message.info p a 
  color: #ffffff

.alert-message h5
  line-height: 18px

.alert-message p, .flash p
  margin-bottom: 0

.alert-message div
  margin-top: 5px
  margin-bottom: 2px
  line-height: 28px

.alert-message .btn
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)

.alert-message.block-message
  background-image: none
  background-color: #fdf5d9
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
  padding: 14px
  border-color: #fceec1
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none

.alert-message.block-message ul, .alert-message.block-message p
  margin-right: 30px
  padding-l

.alert-message.block-message ul
  margin-bottom: 0

.alert-message.block-message li
  +m-p-w-h-p-t-b-l-r-f(0 0 0 15px)
  color: #B94A48

.alert-message.block-message .alert-actions
  margin-top: 5px

.alert-message.block-message.error, .alert-message.block-message.success, .alert-message.block-message.info
  color: #404040
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)

.alert-message.block-message.error
  background-color: #fddfde
  border-color: #fbc7c6

.alert-message.block-message.success
  background-color: #d1eed1
  border-color: #bfe7bf

.alert-message.block-message.info
  background-color: #ddf4fb
  border-color: #c6edf9

.alert-message.block-message.danger p a,
.alert-message.block-message.error p a,
.alert-message.block-message.success p a,
.alert-message.block-message.info p a
  color: #404040

.close
  float: right
  color: #000000
  font-size: 20px
  font-weight: bold
  line-height: 13.5px
  text-shadow: 0 1px 0 #ffffff
  filter: alpha(opacity=25)
  -khtml-opacity: 0.25
  -moz-opacity: 0.25
  opacity: 0.25

.close:hover
  color: #000000
  text-decoration: none
  filter: alpha(opacity=40)
  -khtml-opacity: 0.4
  -moz-opacity: 0.4
  opacity: 0.4

.hidden
  display: none

/* !LAYOUT - !FORMS - !SHOW ////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

.control-group
  display: block
  margin: 0 0 10px 0
  zoom: 0
  line-height: 24px

  .control-label
    line-height: 24px

  .controls
    padding: 5px 0 0 5px
    .record
      padding: 0px

.formerror
  margin: 0 0 20px 0

button.ui-datepicker-trigger
  +m-p-w-h-p-t-b-l-r-f(1px 0 1px -34px)
  +font("", bold, "")
  +border("", "", "", 0 0 0 1px)

#second_level, #third_level
  +m-p-w-h-p-t-b-l-r-f(0 0 0 0px)

#selected_for_codes, #contacts_list
  +m-p-w-h-p-t-b-l-r-f(10px 0 0 0px, 10px 0 0 0)
  +border(1px, solid, #D9D9D9, 1px 0 0 0)
  input[type="radio"]
    +m-p-w-h-p-t-b-l-r-f(0 10px 0 0)

#contacts_list, #for_codes_list
  li
    +m-p-w-h-p-t-b-l-r-f(0 0 5px 0)
    //display: block
    white-space: collapse
    input[type=radio]
      +m-p-w-h-p-t-b-l-r-f(3px 10px 3px 0)
      float: left
    span
      +m-p-w-h-p-t-b-l-r-f("", 0, 570px)
      +inlineblock
    span.remove_button
      display: none

#contacts_list
  li
    span
      +m-p-w-h-p-t-b-l-r-f("", 0, 550px)



.delete_for_code
  //float: right

.delete_link
  //float: right

.for.add
  //+m-p-w-h-p-t-b-l-r-f(0 0 0 170px)

.control-label
  font-weight: bold

// DATEPICKER ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

#ui-datepicker-div.ui-datepicker
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px 5px 5px)
  +boxshadow-2
  background: #333
  +border(0px, solid, #D9D9D9)

  table, tbody
    +width(299px, 299px, 299px)
    +width(299px, 299px, 299px)


  .ui-widget-header
    +border(0px, solid, #D9D9D9)
    background: none
    .ui-datepicker-next, .ui-datepicker-prev
      &:hover
        background: none
        border: none
    span.ui-icon-circle-triangle-w
      background: url(http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings-white.png)
      background-position: -240px -96px
      &:hover
        background: url(http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings-white.png)
        background-position: -240px -96px

    span.ui-icon-circle-triangle-e
      background: url(http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings-white.png)
      background-position: -264px -96px

  .ui-state-default
    background: none
    color: #bebebe
    +border(0px, solid, #D9D9D9)
  .ui-widget-content
    +border(0px, solid, #D9D9D9)
  button
    +m-p-w-h-p-t-b-l-r-f(0, 5px 10px)
    cursor: pointer
    +inlineblock
    +font("", bold, 0.875em, 20px, $dark3, none, center)
    +gradient-light-1
    +border(1px, solid, #dcdcdc, "", 2px)
    &:hover
      +font("", bold, "", "", #FFF)
      color: #FFF
  .ui-datepicker-title select
    font-size: 0.8em
    height: 24px
  .ui-datepicker-calendar
    th
      +font("", "", "", "", "", "", right)
      span
        +font("", normal, 0.75em, "", "", "", right)
        font-weight: normal 
        color: #666
    td
      color: #bebebe
      &:hover
        a
          +font("", bold)
          color: #FFF
      .ui-state-active
        color: #4d90fe
        +font("", bold)
        +border(1px, solid, grey, "", 2px)
      //
      .ui-state-highlight
        color: white
        +font("", bold)

.file-panel
  +m-p-w-h-p-t-b-l-r-f(0 0 36px 0, 0)
  h2
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

ul#files_to_download
  padding-left: 20px
  li
    display: block

.ie7 input.whitebutton, .ie7 input[type=button], .ie7 input[type=submit].whitebutton, .ie7 button.whitebutton, .ie7 a.whitebutton, .ie7 .whitebutton, .ie7 .btn
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px, "", 22px)

.ie7 input[type=password], .ie7 input[type=text]
  //+m-p-w-h-p-t-b-l-r-f("", "", 400px)
  +font("", "", 1rem, 18px, $dark1)
  vertical-align: middle

.ie7 .searchcategory input.bluebutton
  width: 168px

.ie7
  table#exploredata.search
    position: relative
    overflow: hidden
    table-layout: fixed
  table
    overflow: hidden
    table-layout: fixed
    td.add_cart
      text-overflow: clip

.ie7 .remove-all
  line-height : 1

.ie8 .footerwrapper
  display: relative

.ie8
  table#exploredata
    overflow: hidden
    table-layout: fixed
    td
    td.view.select, th.view.select
      +width(50px, 50px, 50px)
    td.view, th.view
      +width(40px, 40px, 40px)
    td.filename, th.filename
      +width(150px, 150px, 150px)
    td.date, th.date
      +width(110px, 110px, 110px)
    td.email, th.email
      +width(160px, 160px, 160px)
    td.type, th.type
      +width(70px, 70px, 70px)
    td.experiment, th.experiment
      +width(90px, 90px, 90px)
//.exploredata.search, #exploredata.search, #exploredata.search tbody
  +inlineblock
  +width(770px, 770px, 770px)
  overflow: none

.ie9
  table#exploredata.search
    overflow: hidden
    table-layout: fixed
  table
    overflow: hidden
    table-layout: fixed
    td.add_cart
      text-overflow: clip


.ie9 input[type="password"], .ie9 input[type="text"]
  line-height: 18px

.ie9 .remove-all
  line-height : 1
