 @charset"UTF-8";

/* CSS RESET ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0; padding: 0;
  border: 0; outline: 0;
  font-size: 100%; vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}
img, object, embed {max-width: 100%;}
html {overflow-y: scroll;} /* force a vertical scrollbar to prevent a jumpy page */
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
table {border-collapse: collapse; border-spacing: 0;} /* tables still need cellspacing="0" in the markup */
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
pre { white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */ }
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select, input, textarea {font: 99% sans-serif;}
table {font-size: inherit; font: 100%;}
 a:hover, a:active {outline: none;} /* Accessible focus treatment people.opera.com/patrickl/experiments/keyboard/test */
small {font-size: 85%;}
strong, th {font-weight: bold;}
td, td img {vertical-align: top;} 
sub, sup {font-size: 75%; line-height: 0; position: relative;} sup {top: -0.5em;} sub {bottom: -0.25em;}
pre, code, kbd, samp {font-family: monospace, sans-serif;} /* standardize any monospaced elements */
.clickable, label, input[type=button], input[type=submit], button {cursor: pointer;} /* hand cursor on clickable elements */
button, input, select, textarea {margin: 0;} /* Webkit browsers add a 2px margin outside the chrome of form elements */
button {width: auto; overflow: visible;} /* make buttons play nice in IE */
.ie7 img {-ms-interpolation-mode: bicubic;} /* scale images in IE7 more attractively */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));} /* prevent BG image flicker upon hover */

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helvetica, Arial, sans-serif;}
/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #220cfc; color: #000; font-style: italic; font-weight: bold;}


/* BASE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

html, body {
  height: 100%; width: 100%;
  font: normal normal normal 100%/1.25em Helvetica, Arial, sans-serif; color: #333; vertical-align: baseline;
}

body { background: #F7F7F7; }

h1, h2, h3, h4, h5, h6 { font: normal normal normal 1em/1em Helvetica, Arial, sans-serif; } /* Base heading styles */

h1 { font: normal normal bold 2em/40px Helvetica, Arial, sans-serif; color: #333; }
h2 { font: normal normal bold 1.25em/30px Helvetica, Arial, sans-serif; color: #333; margin: 0 0 20px 0; padding: 0 0 10px 0; border-bottom: 1px dashed #B9B9B9; }
h3 { font: normal normal bold 1em/30px Helvetica, Arial, sans-serif; }

p { } /* Paragraph style. Use for text, or for a libe break. </br> is for pebs, and you're not a pleb right? */
span { } /* Use as a default container for text that requires a Class or ID */
a, a:visited { font: normal normal bold 1em Helvetica, Arial, sans-serif; color: #000; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; } /* Basic link feedback for user */

ul {   }
li {   }

label { font: normal normal normal 1em/1em Helvetica, Arial, sans-serif; color: #333; white-space: nowrap; cursor: pointer; }

input, textarea { padding: 0 10px;  height: 30px; border: 1px solid #D9D9D9; resize: none; font: normal normal normal 1em/1em Helvetica, Arial, sans-serif; color: #333; }
input:hover, textarea:hover { border-color: #B9B9B9; }
input:focus, textarea:focus { outline: none; border-color: #3079ED; }

input[type="password"] { font: normal normal normal 1.25em/1em Helvetica, Arial, sans-serif; color: #333; }

.field_with_errors { width: 160px; display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */ }
.field_with_errors input { border: 1px solid #E25358; }

table, tbody { width: 1100px; max-width: 1100px; min-width: 1100px; overflow: hidden; }

tr { }
th { margin: 0; width: 140px; height: 40px; line-height: 40px; max-width: 140px; min-width: 140px; padding: 0 20px 0 0; text-align: left; color: #333; background-color: #AAA; }
td { margin: 0; width: 140px; height: 0; max-width: 140px; min-width: 140px; padding: 0 20px 0 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* BASE STYLES - ALERTS / ERRORS
/////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Base notification container for users. -- Currently looking into a JS popdown notification */

.notice {
	margin: 0px; padding: 10px 0; width: 100%; height: 20px; top: 0px; left: 0px;
  font: normal normal bold 1em/20px Helvetica, Arial, sans-serif; color: #F7F7F7; text-align: center;
	background-color: #4d90fe; border-bottom: 1px solid #3079ed; cursor: pointer;
}

.alert {
	margin: 0px; padding: 10px 0; width: 100%; height: 20px; top: 0px; left: 0px;
  font: normal normal bold 1em/20px Helvetica, Arial, sans-serif; color: #F7F7F7; text-align: center;
	background-color: #E25358; border-bottom: 1px solid #E25358; cursor: pointer;
}

.formerror { margin: 0 0 20px 0; color: #E25358; }

/* BASE STYLES - STRUCTURE MODULES
/////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Apply these class modules to elements. Any more than 3 is overkill and you should probably have a specific container. */

.floatleft { float: left; } /* Float an element to the left */

.floatright { float: right; } /* Float an element to the right */

.row { margin: 0 0 18px 0; } /* Basic row / horizontal container */

.fields {
  margin: 0 0 18px 0;
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
}

/* BASE STYLES - TEXT MODULES
/////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Apply these to specific font containers. Any more than 2 is overkill and a specific style / container should be used */

.details { font: normal normal normal 0.75em/18px Helvetica, Arial, sans-serif; color: #666; }

.bold { font-weight: bold; }

.textalignleft { text-align: left; } /* Align text to the left */

.textalignright { text-align: right; } /* Align text to the right */

.textaligncenter { text-align: center; } /* Align text to the center */

.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.required { color: #E25358; }

/* BUTTONS ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

input[button], button { /* Default button style */
  padding: 5px 10px; margin: 0; height: 30px;
  font: normal normal normal 14px/20px Helvetica, Arial, sans-serif; text-decoration: none;
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
  background-color: #FFFFFF; border: 1px solid #E0E0E0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#EDEDED)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #F7F7F7, #EDEDED); /* Chrome10+,Safari5.1+ */
  background-image: -moz-linear-gradient(top, #F7F7F7, #EDEDED); /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #F7F7F7, #EDEDED); /* IE10+ */
  background-image: -o-linear-gradient(top, #F7F7F7, #EDEDED); /* Opera11.10+ */
  background-image: linear-gradient(top, #F7F7F7, #EDEDED); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EDEDED', GradientType=0); /* IE6-9 */
  cursor: pointer;
}

input[button]:hover, button:hover { /* Default Button hover style */
  background-color: #357ae8; border:1px solid #C1C1C1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#EDEDED));
  background-image: -webkit-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: -moz-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: -ms-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: -o-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: linear-gradient(top, #EDEDED, #EDEDED);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#EDEDED', endColorstr = '#EDEDED', GradientType=0);
}

input[button]:active, button:active, .button:active {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

input[disabled], input[disabled]:hover { /* Disabled Button Style */
  padding: 5px 10px; margin: 0; height: 30px;
  font: normal normal normal 14px/36px Helvetica, Arial, sans-serif; text-decoration: none; color: #CCC;
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
  background-color: #FFFFFF; border: 1px solid #E0E0E0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#EDEDED)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #F7F7F7, #EDEDED); /* Chrome10+,Safari5.1+ */
  background-image: -moz-linear-gradient(top, #F7F7F7, #EDEDED); /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #F7F7F7, #EDEDED); /* IE10+ */
  background-image: -o-linear-gradient(top, #F7F7F7, #EDEDED); /* Opera11.10+ */
  background-image: linear-gradient(top, #F7F7F7, #EDEDED); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EDEDED', GradientType=0); /* IE6-9 */
  cursor: default;
}

input[disabled]:active { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; } /* Disabled Button Style */

/* BUTTONS - BASE
/////////////////////////////////////////////////////////////////////////////////////////////////*/

.button, a.button { /* Default Button Style - Gray */
  padding: 5px 10px; margin: 0 10px 0 0; height: 18px;
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
  font: normal normal normal 14px/18px Helvetica, Arial, sans-serif; text-decoration: none;
  border: 1px solid #C6C6C6; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
  background-color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#D6D6D6));
  background-image: -webkit-linear-gradient(top, #E0E0E0, #D6D6D6);
  background-image: -moz-linear-gradient(top, #E0E0E0, #D6D6D6);
  background-image: -ms-linear-gradient(top, #E0E0E0, #D6D6D6);
  background-image: -o-linear-gradient(top, #E0E0E0, #D6D6D6);
  background-image: linear-gradient(top, #E0E0E0, #D6D6D6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#E0E0E0', EndColorStr = '#D6D6D6');
  cursor: pointer;
}

.button:hover, a.button:hover {
  background-color: #357ae8; text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#C6C6C6));
  background-image: -webkit-linear-gradient(top, #E0E0E0, #C6C6C6);
  background-image: -moz-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: -ms-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: -o-linear-gradient(top, #EDEDED, #EDEDED);
  background-image: linear-gradient(top, #EDEDED, #EDEDED);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#EDEDED', EndColorStr = '#EDEDED'); border:1px solid #AAAAAA;
}

.button:active, a.button:active {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* BUTTONS - BASE
/////////////////////////////////////////////////////////////////////////////////////////////////*/

input.blue, button.blue, .blue { /* Blue Button style */
  padding: 5px 10px; min-width: 140px; /* height: 18px; */
  border: 1px solid #3079ed; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
  font: normal normal normal 14px/18px Helvetica, Arial, sans-serif; text-decoration: none; text-align: center;
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
  font-size: 1em; color: #FFF;
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#4d90fe', EndColorStr = '#4787ed');
  cursor: pointer;
}

button.blue { height: 30px; }

input.blue[submit] { height: 30px; }

input.blue:hover, button.blue:hover, .blue:hover {
    border: 1px solid #2f5bb7; text-decoration: none;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#4d90fe', EndColorStr = '#357ae8')
}

button.blue:active, .blue:active {
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}

/* BUTTONS - GENERAL ICONS
/////////////////////////////////////////////////////////////////////////////////////////////////*/

.add img { /* Add button icon */
  padding: 0 0 0 20px; background: url('../images/ICON_VECTOR_12_PLUS_000000.png') no-repeat left center; line-height: 18px;
}

.edit img { /* Edit button icon */
  padding: 0 0 0 20px; background: url('../images/ICON_VECTOR_12_EDIT_000000.png') no-repeat left center; line-height: 18px;
}

.down img { /* Down button icon */
  padding: 0 0 0 20px; background: url('../images/ICON_VECTOR_12_ARROW_STALK_DOWN_000000.png') no-repeat left center; line-height: 18px;
}

.delete img { /* Delete button icon */
  padding: 0 0 0 20px; background: url('../images/ICON_VECTOR_12_DEL_000000.png') no-repeat left center; line-height: 18px;
}

/* LAYOUT ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* LAYOUT - HEADER
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#header {
  margin: 0; padding: 0; height: 88px; position: relative;
  background: url('../../../public/images/header-bg.png') top left repeat-x; color: #666;
}

#header .container { margin: 0 auto; padding:0 20px; min-width: 940px; max-width: 1100px; min-height: 100%; }

#header .logo { margin: 10px 0 0 0; padding: 10px; height: 48px; width: 280px; background: #333; color: #EFEFEF; float:left; }
#header .menu { margin: 49px 0 0 0; padding: 0; float: right; }
#header .menu li { margin: 0 0 0 20px; display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
border: 1px solid transparent; border-width: 1px 1px 0 1px; } 
#header .menu a { margin: 0; padding: 10px; display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
  color: #666; font-weight: normal;  text-shadow: #EEE 0px 1px 0px;
}
#header .menu a:hover { color: #333; text-decoration: none;  cursor: pointer;  }

#header .menu li.signup { margin: 4px 0 0 20px; background: #4D90F3; border: 1px solid #3079ED; border-width: 1px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#header .menu li.signup a { padding: 6px 10px 6px 10px; color: #F7F7F7; text-shadow: none; }
#header .menu li.user a { color: #4D90FE; }
#header .menu li.user a:hover { color: #3079ED; }
#header .menu li.logout { 
  margin: 0; border: 1px solid #C6C6C6; border-width: 0 0 0 1px; }
#header .menu li.active { 
  background: #F7F7F7; border: 1px solid #C6C6C6; border-width: 1px 1px 0 1px; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; }

/* LAYOUT - CONTENT
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -37px;  } /* wrapper to hold content + header. Required to make sticky footer work. */

#content {
  margin: 0 auto; padding: 20px 20px 60px 20px; min-width: 940px; max-width: 1100px;
  background: url('../images/infinite2060columns.png');
}

/*=== Float Containment and Bug Fixes (Do Not Alter These!) ===*/
body:before { /*Opera min-height 100% Fix (Kohoutec)*/
  content: ""; height: 100%; float: left; width: 0; margin-top: -32767px; /*eliminate need for inner non clearing element (Erik.J)*/
}

#page:after, /* #wrapper:after for IE8 min-height:100% Fix*/ #inner:after {
/* #inner:after for Float Containment*/
  clear: both; content: ""; display: block; height: 1%; /*fix IE8 min-height:100% bug (Erik.J)*/ font-size: 0;
}

/* LAYOUT - LOGIN
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#content .container { margin: 20px auto; width: 460px; }

#content .container label {
  margin: 0; padding: 0; width: 160px;
  font: normal normal bold 1em/36px helvetica, arial, sans-serif;
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
}

#content .container input[type="password"], #content .container input[type="text"] { width: 278px; }

/* LAYOUT - FOOTER
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#footer {
  margin: 0 auto; padding: 10px 0 0 0; min-width: 600px; height: 26px; bottom: 0; left: 0; right: 0;
  border-top: 1px solid #DFDFDF;
  background: #FFF;
  font-size: 0.875em; color: #666666; text-align: center;
  clear: both;
}

#footer .logo {
  margin: 0 6px 0 0; height: 14px; width: 14px;
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: middle; /* Cross-browser Inline-block */
  background: url(/images/intersect_logo.png) bottom;
}

/* LAYOUT - 404
/////////////////////////////////////////////////////////////////////////////////////////////////*/

.field { margin: 0 0 20px 0; }

/* LAYOUT - 404
/////////////////////////////////////////////////////////////////////////////////////////////////*/

.dialog { margin: 36px auto 0 auto; width: 800px; text-align: center; }

}

/* ADMIN /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


/* ADMIN - 
/////////////////////////////////////////////////////////////////////////////////////////////////*/


/* LIGHTBOX //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.jqmWindow { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; } /* Border radius for LB body */

.lightbox {
  background: #FFF; height: auto;
}

.lightbox textarea { width: 648px; }

.lightbox input.text, .lightbox textarea.text {
  padding: 5px; height: 19px; width: 648px;
  font: normal normal normal 0.875em/18px Helvetica, Arial, sans-serif;
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: bottom; /* Cross-browser Inline-block */
}

#project_description, #sample_description, #experiment_description, #ands_publishable_collection_description {
  min-height: 100px;
  line-height: 20px;
}

.lightbox label {
  
  color: #000; font-weight: bold;
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
}

.lightbox .member_picker label { padding-top: 2px; width: auto; }

.lightbox div.field { margin: 18px 0 0 0; }

.lightbox div.field .darkgray { text-align: center; }

.lightbox .member_find_col { width: 30%; float: left; }

.lightbox .member_buttons_col { position: relative; width: 15%; margin-left: 50%; }

.lightbox .members_list_col { position: relative; width: 30%; margin-left: 70%; }

.lightbox #member_chosen { padding: 2px; }

.lightbox ul#member_list { margin: 0; font: normal normal normal 0.875em/18px Helvetica, Arial, sans-serif; list-style: none; }

.lightbox #project_submit { margin: 10px 0 0 0; }

.lightbox .actions { text-align: right; }

.metadata { color: #000; }

.note { font-size: 0.7em; }

.lightbox input.text.keyword {
  padding: 5px; height: 19px; width: 628px;
}

#project_document { border: 0px solid; }

/* NOTIFICATIONS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


/* UNKNOWN / MISC
/////////////////////////////////////////////////////////////////////////////////////////////////*/

.debug_dump { padding-top: 32px; }
