@charset "UTF-8"

/*/ VARIABLES /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*/

// VARIABLES - COLOURS
///*///////////////////////////////////////////////////////////////////////////////////////////////*/

$dark0: black
$dark1: #333333
$dark2: #333333
$dark3: #666666
$dark4: #999999

$light0: white
$light1: #f8f8f8
$light2: #f5f5f5
$light3: #f1f1f1

$blue1: #4d90fe
$blue2: #4787ed
$blue3: #357ae8
$blue4: #3079ed
$blue5: #2f5bb7
$blue6: #e5f6fd

$red1: #ff5742
$red2: #dd4c39
$red3: #db3d2b
$red4: #dd4c39
$red5: #b0281a

// MIXINS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//


// MIXINS - MARGIN + PADDING + WIDTH + HEIGHT + POSITION + TOP + BOTTOM + LEFT + RIGHT + FLOAT
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

=m-p-w-h-p-t-b-l-r-f($margin: "", $padding: "", $width: "", $height: "", $position: "", $top: "", $bottom: "", $left: "", $right: "", $float: "")
  @if $margin != ""
    margin: $margin
  @if $padding != ""
    padding: $padding
  @if $width != ""
    width: $width
  @if $height != ""
    height: $height
  @if $position != ""
    position: $position
  @if $top != ""
    top: $top
  @if $bottom != ""
    bottom: $bottom
  @if $left != ""
    left: $left
  @if $right != ""
    right: $right
  @if $float != ""
    float: $float

// MIXINS - WIDTH - NORMAL + MIN + MAX
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

=width($width: "", $minwidth: "", $maxwidth: "")
  @if $width != ""
    width: $width
  @if $minwidth != ""
    min-width: $minwidth
  @if $maxwidth != ""
    max-width: $maxwidth

// MIXINS - BORDER CONTROLL
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

=borderradius($corner: "")
  border-radius: $corner
  -moz-border-radius: $corner
  -webkit-border-radius: $corner

=border($borderwidth: "", $borderstyle: "", $bordercolor: "", $allborderwidth: "", $borderradius: "", $topborderwidth: "", $topborderstyle: "", $topbordercolor: "", $bottomborderwidth: "", $bottomborderstyle: "", $bottombordercolor: "", $leftborderwidth: "", $leftborderstyle: "", $leftbordercolor: "", $rightborderwidth: "", $rightborderstyle: "", $rightbordercolor: "")
  border: $borderwidth $borderstyle $bordercolor
  border-width: $allborderwidth
  +borderradius($borderradius)
  border-top: $topborderwidth $topborderstyle $topbordercolor
  border-bottom: $bottomborderwidth $bottomborderstyle $bottombordercolor
  border-left: $leftborderwidth $leftborderstyle $leftbordercolor
  border-right: $rightborderwidth $rightborderstyle $rightbordercolor

// MIXINS - OPACITY
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

=opacity($opacity: "", $filteropacity: "")
  filter: alpha(opacity = $filteropacity)
  -khtml-opacity: $opacity
  -moz-opacity: $opacity
  opacity: $opacity

=opacity-25
  +opacity(0.25, 25)
=opacity-50
  +opacity(0.50, 50)
=opacity-75
  +opacity(0.75, 75)
=opacity-100
  +opacity(1, 100)

// MIXINS - CROSS-BROWSER INLINEBLOCK
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

=inlineblock
  display: -moz-inline-stack
  display: inline-block
  zoom: 1
  *display: inline
  vertical-align: top

// MIXINS - CROSS-BROWSER INLINEBLOCK
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

=truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

// MIXINS - BOX SHADOW
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

=boxshadow($offsetx: "", $offsety: "", $blur: "")
  box-shadow: $offsetx $offsety $blur rgba(0, 0, 0, 0.1)
  -moz-box-shadow: $offsetx $offsety $blur rgba(0, 0, 0, 0.1)
  -webkit-box-shadow: $offsetx $offsety $blur rgba(0, 0, 0, 0.1)

=boxshadow-2-inset
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1)
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1)

=boxshadow-2
  +boxshadow(0px, 1px, 2px)

// MIXINS - FONT CONTROLL
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

=font($style: "", $weight: "", $size: "", $leading: "", $color: "", $decoration: "", $align: "")
  @if $style != ""
    font-style: $style
  @if $weight != ""
    font-weight: $weight
  @if $size != ""
    font-size: $size
  @if $leading != ""
    line-height: $leading
  @if $color != ""
    color: $color
  @if $decoration != ""
    text-decoration: $decoration
  @if $align != ""
    text-align: $align
  font-family: Helvetica, Arial, sans-serif

=textshadow-2
  text-shadow: #EEE 0px 2px 0px


// MIXINS - GRADIENTS
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

=gradient($color1: "", $color2: "")
  background-color: $color1
  text-shadow: 0 1px rgba(0, 0, 0, 0.1)
  background-image: -webkit-gradient(linear, left top, left bottom, from($color1), to($light2))
  background-image: -webkit-linear-gradient(top, $color1, $color2)
  background-image: -moz-linear-gradient(top, $color1, $color2)
  background-image: -ms-linear-gradient(top, $color1, $color2)
  background-image: -o-linear-gradient(top, $color1, $color2)
  background-image: linear-gradient(top, $color1, $color2)

=gradient-light-1
  +gradient($light1, $light2)
=gradient-light-2
  +gradient($light1, $light3)

=gradient-blue-1
  +gradient($blue1, $blue2)
=gradient-blue-2
  +gradient($blue1, $blue3)

=gradient-red-1
  +gradient($red1, $red2)
=gradient-red-2
  +gradient($red1, $red3)

// MIXINS - CLEARFIX
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/* Include this Mixin on things that will contain floats. These rules will cause the space to be filled.
=clearfix
  zoom: 1
  &:before
    content: "\0020"
    display: block
    height: 0
    overflow: hidden
  &:after
    content: "\0020"
    display: block
    height: 0
    overflow: hidden
    clear: both

// BASE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

html, body
  +m-p-w-h-p-t-b-l-r-f("", "", 100%, 100%)
  +font("", "", 100%, 1.25em, $dark2, "")
  vertical-align: baseline

body
  background: $blue6

h1, h2, h3, h4, h5, h6
  +font("", "", 1em, 1em, $dark2)

/* Base heading styles
h1
  +font("", normal, 1.5em, 40px)

h2
  +m-p-w-h-p-t-b-l-r-f(0 0 20px 0, 10px 0 0 0)
  +font("", normal, 1.5em, 30px)
  +border(1px, solid, #D9D9D9, 1px 0 0 0)

h3
  +font("", bold, 1em, 30px, $dark2)
  padding: 0 0 10px 0

h4
  +font("", bold, 0.813em, 18px, $dark2)
  padding: 0 0 10px 0


p

/* Paragraph style. Use for text, or for a libe break. </br> is for pebs, and you're not a pleb right?
span

/* Use as a default container for text that requires a Class or ID
a, a:visited
  +font("", bold, 1em, "", $dark1, none)
  cursor: pointer

a:hover
  text-decoration: underline

/* Basic link feedback for user

ul

li
  +inlineblock

label
  +m-p-w-h-p-t-b-l-r-f(0 0 0 0, 10px 16px 10px 10px, 150px)
  +inlineblock
  +font("", bold, 1em, 18px)
  text-align: right
  wight-space: nowrap
  cursor: pointer

input[type=textarea], input[type=text], input[type=password], input[type=search], textarea
  +m-p-w-h-p-t-b-l-r-f(0, 7px 10px 5px 10px, "", 18px)
  +border(1px, solid, #d9d9d9, "", 2px, "", "", #C0C0C0)
  resize: none
  +font("", "", 1em, 18px)
  &:hover
    +border(1px, solid, #B9B9B9)
  &:focus
    +border(1px, solid, #3079ED)
    outline: none

input[type=password], input[type=text]
  //+m-p-w-h-p-t-b-l-r-f("", "", 400px)
  +font("", "", 1rem, 28px, $dark1)

textarea
  +m-p-w-h-p-t-b-l-r-f(3px 0, 7px 10px 5px 10px, "", 66px)

input, textarea, select, .uneditable-input
  +m-p-w-h-p-t-b-l-r-f(0 0 9px 0, 4px 9px, auto, 18px)
  +inlineblock
  +border(1px, solid, #d9d9d9, "", 2px, "", "", #C0C0C0)
  resize: none
  //+font("", "", 1.25rem, 1)
  //line-height: 18px
  &:hover
    +border(1px, solid, #B9B9B9)
  &:focus
    +border(1px, solid, #3079ED)
    outline: none

input[type=password]
  //+font("", "", 1.25em, 28px, $dark1)

textarea
  +m-p-w-h-p-t-b-l-r-f(3px 0, 7px 10px 5px 10px, 608px, 66px)



input[type="search"]
  -webkit-appearance: textfield
  -webkit-box-sizing: content-box
  -moz-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button
  -webkit-appearance: none



.uneditable-textarea
  width: auto
  height: auto


input[type="image"], input[type="checkbox"], input[type="radio"]
  +m-p-w-h-p-t-b-l-r-f(3px 0, 0, auto, auto)
  *margin-top: 0 /* IE7 */
  +border("", "", "", "", 0)
  +font("", "", "", normal)
  border: 0 \9
  /* IE9 and down */
  cursor: pointer



input[type="image"]
  +border(0)

input[type="file"]
  +m-p-w-h-p-t-b-l-r-f(initial, "", auto, auto)
  +border(initial)
  +boxshadow(none)
  +font("", "", 1.25rem, initial)

input[type="button"], input[type="reset"], input[type="submit"]
  +m-p-w-h-p-t-b-l-r-f("", "", auto, auto)

select, input[type="file"]
  +m-p-w-h-p-t-b-l-r-f("", "", "", 28px)
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px
  /* For IE7, add top margin to align select with labels */
  +font("", "", "", 28px)

input[type="file"]
  line-height: 18px \9

select
  +m-p-w-h-p-t-b-l-r-f("", "", auto)
  background: #FFF

select[multiple], select[size]
  +m-p-w-h-p-t-b-l-r-f("", "", "", auto)

input[type="image"]
  +boxshadow(none)

textarea
  //+m-p-w-h-p-t-b-l-r-f("", "", "", auto)

input[type="hidden"]
  display: none

.radio, .checkbox
  +m-p-w-h-p-t-b-l-r-f(0 0 0 18px)

.radio input[type="radio"], .checkbox input[type="checkbox"]
  +m-p-w-h-p-t-b-l-r-f("", 0 0 0 -18px)
  float: left

.controls > .radio:first-child, .controls > .checkbox:first-child
  +m-p-w-h-p-t-b-l-r-f("", 0 5px 0 0)

.radio.inline, .checkbox.inline
  +m-p-w-h-p-t-b-l-r-f(0, 0 5px 0 0)
  +inlineblock
  vertical-align: middle

.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline
  +m-p-w-h-p-t-b-l-r-f(0 0 0 10px)

input, textarea
  +boxshadow(inset 0 1px 1px rgba(0, 0, 0, 0.075))
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s
  -o-transition: border linear 0.2s, box-shadow linear 0.2s
  transition: border linear 0.2s, box-shadow linear 0.2s

//input:focus, textarea:focus
  //border-color: rgba(82, 168, 236, 0.8)
  //+boxshadow( inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6))
  //outline: 0
  //outline: thin dotted \9
  /* IE6-9 */


//input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, select:focus
  //+boxshadow(none)
  //outline: thin dotted #333
  //outline: 5px auto -webkit-focus-ring-color
  //outline-offset: -2px

.input-mini
  width: 60px
.input-small
  width: 90px
.input-medium
  width: 150px
.input-large
  width: 210px
.input-xlarge
  width: 270px
.input-xxlarge
  width: 530px

input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input 
  float: none
  margin-left: 0

input, textarea, .uneditable-input
  margin-left: 0

input.span12, textarea.span12, .uneditable-input.span12
  width: 930px
input.span11, textarea.span11, .uneditable-input.span11
  width: 850px
input.span10, textarea.span10, .uneditable-input.span10
  width: 770px
input.span9, textarea.span9, .uneditable-input.span9
  width: 690px
input.span8, textarea.span8, .uneditable-input.span8
  width: 610px
input.span7, textarea.span7, .uneditable-input.span7
  width: 530px
input.span6, textarea.span6, .uneditable-input.span6
  width: 450px
input.span5, textarea.span5, .uneditable-input.span5
  width: 370px
input.span4, textarea.span4, .uneditable-input.span4
  width: 290px
input.span3, textarea.span3, .uneditable-input.span3
  width: 210px
input.span2, textarea.span2, .uneditable-input.span2
  width: 130px
input.span1, textarea.span1, .uneditable-input.span1
  width: 50px

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]
  background: #EEE
  border-color: #DDD
  cursor: not-allowed

.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline
  color: #C09853

.control-group.warning input, .control-group.warning select, .control-group.warning textarea
  color: #C09853
  border-color: #C09853

.control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus
  border-color: #a47e3c
  +boxshadow(0 0 6px #dbc59e)

.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on
  color: #c09853
  background-color: #fcf8e3
  border-color: #c09853

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline
  color: #b94a48

.control-group.error input, .control-group.error select, .control-group.error textarea
  color: #b94a48
  border-color: #b94a48

.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus
  border-color: #953b39
  -webkit-box-shadow: 0 0 6px #d59392
  -moz-box-shadow: 0 0 6px #d59392
  box-shadow: 0 0 6px #d59392

.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on
  color: #b94a48
  background-color: #f2dede
  border-color: #b94a48

.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline
  color: #468847

.control-group.success input, .control-group.success select, .control-group.success textarea
  color: #468847
  border-color: #468847

.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus
  border-color: #356635
  -webkit-box-shadow: 0 0 6px #7aba7b
  -moz-box-shadow: 0 0 6px #7aba7b
  box-shadow: 0 0 6px #7aba7b

.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on
  color: #468847
  background-color: #dff0d8
  border-color: #468847

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid
  color: #b94a48
  border-color: #ee5f5b

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus
  border-color: #e9322d
  -webkit-box-shadow: 0 0 6px #f8b9b7
  -moz-box-shadow: 0 0 6px #f8b9b7
  box-shadow: 0 0 6px #f8b9b7


.uneditable-input
  display: block
  background-color: #ffffff
  border-color: #eee
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025)
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025)
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025)
  cursor: not-allowed

\:-moz-placeholder
  color: #999999

\::-webkit-input-placeholder
  color: #999999



// NOTIFICATIONS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

/* Base notification container for users

#notice, #alert
  p
    +m-p-w-h-p-t-b-l-r-f("", 10px 0, 100%, 20px, relative)
    +font("", bold, 1em, 20px, $light0, "", center)
  span
    +m-p-w-h-p-t-b-l-r-f(-40px 10px 0 0, "", 20px, "", "", "", "", "", "", right)
    +font("", bold, 1.75em, 35px, #404040)
    text-shadow: 0 1px 0 $light0
    +opacity-25
    cursor: pointer
  &:hover
    span
      +opacity-50

#notice
  p
    background: $blue1
    +border(1px, solid, $blue4, 0 0 1px 0)
    cursor: pointer

#alert 
  p
    background-color: $red2
    +border(1px, solid, $red5, 0 0 1px 0)
    cursor: pointer

.formerror
  +m-p-w-h-p-t-b-l-r-f(0 0 20px 0)
  color: $red4
  h3, li
    color: #B94A48
    display: block
  h3
    overflow: hidden
    word-wrap: break-word

.field_with_errors
  display: inline

.field_with_errors input, .field_with_errors select, .field_with_errors textarea
  +border(1px, solid, $red4)

.asterisk
  +m-p-w-h-p-t-b-l-r-f( 0 0 0 -11px, 0, 10px)
  color: $red4

// !NOTIFICATIONS - ALERTS
///////////////////////////////////////////////////////////////////////////////////////////////////

.container
  .alert
    +m-p-w-h-p-t-b-l-r-f(0 0 18px 170px)
    h3
      +m-p-w-h-p-t-b-l-r-f(0, 0 0 10px 0)
      +border(0, solid, $red5)

.alert
  +m-p-w-h-p-t-b-l-r-f(0 0 18px 0, 8px 35px 8px 14px)
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  background: #FCF8E3
  +border(1px, solid, #FBEED5, "", 4px)
  color: #C09853
  li
    display: block

ul
  li.alert
    display: block

.alert-heading
  color: inherit

.alert .close
  position: relative
  top: -2px
  right: -21px
  line-height: 18px

.alert-success
  background-color: #DFF0D8
  border-color: #D6E9C6
  color: #468847

.alert-danger, .alert-error, .alert.error
  background-color: #F2DEDE
  border-color: #EED3D7
  color: #B94A48
  h3
    color: #B94A48

.alert-info, .alert.info
  background-color: #D9EDF7
  border-color: #BCE8F1
  color: #3A87AD

.alert-block
  padding-top: 14px
  padding-bottom: 14px

.alert-block > p,
.alert-block > ul
  margin-bottom: 0

.alert-block p + p
  margin-top: 5px



// MODULES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

// BASE STYLES - STRUCTURE MODULES
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/* Apply these class modules to elements. Any more than 3 modules per element is overkill and you should probably have a specific container.

/* Float an element to the left
.floatleft
  float: left
.pull-left
  float: left

/* Float an element to the right
.floatright
  float: right
.pull-right
  float: right


.row
  margin: 0

/* Basic row container
.rowform
  margin: 0 0 18px 0

/* Basic row / horizontal container with 1 paragraph return equiv.
.fields
  margin: 0 0 18px 0
  +inlineblock

.actions
  margin: 60px 0 20px 0

// BASE STYLES - TEXT MODULES
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

/* Apply these to specific font containers. Any more than 2 text modules is overkill and a specific style / container should be used

.details
  +font("", "", 0.75em, 18px, $dark3)

p.details
  //+m-p-w-h-p-t-b-l-r-f(0 0 0 170px)

.required
  color: #E25358

.bold
  font-weight: bold

.textalignleft
  text-align: left

/* Align text to the left
.textalignright
  text-align: right

/* Align text to the right
.textaligncenter
  text-align: center

/* Align text to the center

.truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

// ICONS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

.options
  cursor: pointer
  span
    +m-p-w-h-p-t-b-l-r-f("", 0 0 0 16px)
    background: url("../images/icon_options_light.png") left center no-repeat
    -moz-background-size: 16px
    background-size: 16px
  &:hover
    span
      color: $dark1
      background: url("../images/icon_options_dark.png") left center no-repeat
      -moz-background-size: 16px

.close
  cursor: pointer
  position: relative
  overflow: hidden
  z-index: 0
  span
    +m-p-w-h-p-t-b-l-r-f("", "", 16px)
    +font("", bold, 1.75em, 14px, #404040)
    text-shadow: 0 1px 0 $light0
    +opacity-25
    cursor: pointer
  &:hover
    span
      +opacity-50

.search.whitebutton 
  cursor: pointer
  label, span
    +m-p-w-h-p-t-b-l-r-f("", 0 0 0 25px, 85px)
    font-weight: normal
    background: url("../images/icon_search_light.png") left center no-repeat
  &:hover
    label, span
      background: url("../images/icon_search_dark.png") left center no-repeat

input.search.bluebutton[type=submit] 
  +m-p-w-h-p-t-b-l-r-f(0 0 0 -10px, "", 80px, 32px)
  +border("", "", "", "", 0 2px 2px 0)
  cursor: pointer

  label, span
    +m-p-w-h-p-t-b-l-r-f("", 0 0 0 25px, 16px)
    background: url("../images/icon_search_white.png") left center no-repeat

a.view, a.edit, a.delete
  +m-p-w-h-p-t-b-l-r-f(1px auto, "", 100%, 16px)
  display: block
a.view
  background: url("../images/icon_view_light.png") center center no-repeat
  &:hover
    background: url("../images/icon_view_dark.png") center center no-repeat
a.edit
  background: url("../images/icon_edit_light.png") center center no-repeat
  &:hover
    background: url("../images/icon_edit_dark.png") center center no-repeat
a.delete
  background: url("../images/icon_delete_light.png") center center no-repeat
  &:hover
    background: url("../images/icon_delete_dark.png") center center no-repeat

.download.whitebutton
  cursor: pointer
  label, span
    +m-p-w-h-p-t-b-l-r-f("", 0 0 0 25px, 85px)
    font-weight: normal
    background: url("../images/icon_download_light.png") left top no-repeat
  &:hover
    label, span
      background: url("../images/icon_download_dark.png") left top no-repeat

.facility.new.whitebutton
  cursor: pointer
  label, span, a
    +m-p-w-h-p-t-b-l-r-f("", 0 0 0 25px, 85px)
    font-weight: normal
    background: url("../images/icon_facility_new_light.png") left center no-repeat
  &:hover
    label, span, a
      background: url("../images/icon_facility_new_dark.png") left center no-repeat

.experiment.new.whitebutton
  cursor: pointer
  label, span, a
    +m-p-w-h-p-t-b-l-r-f("", 0 0 0 25px)
    font-weight: normal
    background: url("../images/icon_experiment_new_light.png") left center no-repeat
  &:hover
    label, span, a
      background: url("../images/icon_experiment_new_dark.png") left center no-repeat

.mapping.btn
  cursor: pointer
  label, span, a
    +m-p-w-h-p-t-b-l-r-f("", 0 0 0 25px, 85px)
    font-weight: normal
    background: url("../images/icon_columnmapping_add_light.png") left center no-repeat
  &:hover
    label, span, a
      background: url("../images/icon_columnmapping_add_dark.png") left center no-repeat


.parameters.btn
  cursor: pointer
  label, span, a
    +m-p-w-h-p-t-b-l-r-f("", 0 0 0 25px, 85px)
    font-weight: normal
    background: url("../images/icon_parameters_new_light.png") left center no-repeat
  &:hover
    label, span, a
      background: url("../images/icon_parameters_new_dark.png") left center no-repeat


// BUTTONS ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

// BUTTONS - DEFAULT BUTTON STYLE
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

input[type=button], button, .btn
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px)
  cursor: pointer
  +inlineblock
  +font("", "", 0.875em, 20px, $dark3, none, center)
  +gradient-light-1
  +border(1px, solid, #dcdcdc, "", 2px)
  &:hover
    color: $dark2
    +border(1px, solid, #c6c6c6)
    +gradient-light-2
    text-decoration: none
  &:active
    +boxshadow-2-inset

// BUTTONS - DISABLED BUTTON STYLE
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

input[type=disabled], input[type=disabled]:hover
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px, 30px)
  cursor: default
  +inlineblock
  +font("", "", 0.875em, 20px, $dark3, none, center)
  +gradient-light-1
  +border(1px, solid, #E0E0E0, "", 2px)
  background-color: #FFFFFF

input[type=disabled]:active
  box-shadow: none
  -moz-box-shadow: none
  -webkit-box-shadow: none

// BUTTONS - WHITE / GREY
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

input.whitebutton, input[type=button], input[type=submit].whitebutton, button.whitebutton, a.whitebutton, .whitebutton, .btn
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px, "", 18px)
  +font("", normal, 0.875em, 18px, $dark3, none, center)
  +gradient-light-1
  +border(1px, solid, #dcdcdc, "", 2px)
  +inlineblock
  &:hover
    color: $dark2
    +border(#c6c6c6)
    +gradient-light-2
    text-decoration: none
  a
    &:hover
      text-decoration: none
  &:active
    +boxshadow-2-inset
input[type=submit].whitebutton
  +m-p-w-h-p-t-b-l-r-f("", "", "", auto)
  &:hover
    color: $dark2
    +border(#c6c6c6)


// BUTTONS - BLUE
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

input.bluebutton, input[type=submit], button.bluebutton, a.bluebutton, .bluebutton
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px)
  +font("", normal, 0.875em, 18px, $light0, none, center)
  +gradient-blue-1
  +border(1px, solid, $blue4, "", 2px)
  +inlineblock
  &:hover
    +gradient-blue-2
    +border(1px, solid, $blue5)
  &:active
    +boxshadow-2-inset

button.bluebutton, input.bluebutton[type=submit]
  height: 30px

// BUTTONS - RED
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

input.redbutton, button.redbutton, a.redbutton, .redbutton
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px, "", 18px)
  +font("", normal, 0.875em, 18px, $light0, none, center)
  +gradient-red-1
  +border(1px, solid, $red4, "", 2px)
  +inlineblock
  &:hover
    +gradient-red-2
    +border(1px, solid, $red5)
  &:active
    +boxshadow-2-inset

// BUTTONS - BACK / CANCEL
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

input.cancelbutton, input[type=button], button.cancelbutton, a.cancelbutton
  +m-p-w-h-p-t-b-l-r-f("", 5px 10px, "", 18px, relative)
  +font("", normal, 0.875em, 18px, $dark3, none, center)
  z-index: 9
  +gradient-light-1
  +border(1px, solid, #dcdcdc, 1px 1px 1px 0, 2px)
  +inlineblock

.cancelbutton
  +inlineblock

  span
    +m-p-w-h-p-t-b-l-r-f(4px -15px 0 0, "", 20px, 20px)
    z-index: 1
    +gradient-light-1
    +border(1px, solid, #dcdcdc, "", 2px)
    +inlineblock
    cursor: pointer
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=45)
  &:hover
    span, a
      color: $dark2
      +border(1px, solid, #c6c6c6)
      +gradient-light-2
  &:hover
    span
      +gradient-light-2
      +border(1px, solid, #c6c6c6)
      +inlineblock
  &:hover
    a
      +border(1px, solid, #c6c6c6, 1px 1px 1px 0)
  &:active
    span, a
      +boxshadow-2-inset

// TABLES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

/* Note: Table Data cells will stretch to fill 100% of a table's width. If the width specified on individual cells 
 * dosen't add up to the total width, they  will expand to fit.

table
  +font("", "", 0.813em, 18px, "", left)

table, tbody
  +width(1060px, 1060px, 1060px)
  border-collapse: collapse
  overflow: hidden

th, td
  +border(1px, solid, #DDD, 1px 0 0 0)

tr
  +width(1060px, 1060px, 1060px)
  overflow: hidden

th
  +m-p-w-h-p-t-b-l-r-f("", 10px 10px 9px 0)
  // +width(140px, 140px, 140px)
  +font("", bold, 1em, 18px, "", "", left)

td
  +m-p-w-h-p-t-b-l-r-f("", 10px 10px 9px 0)
  // +width(140px, 140px, 140px)
  +truncate

tbody tr.field_bg
  background-color: #F9F9F9

/* Specific cell types to balance width - View Access Requests

#access_requests, #experiments
  th.firstname, td.firstname
    +width(140px, 140px, 140px)
  th.lastname, td.lastname
    +width(220px, 220px, 220px)
  th.email, td.email
    +width(300px, 300px, 300px)
  th.actions, td.actions
    +m-p-w-h-p-t-b-l-r-f("", 3px 0 0 0)
    +width(190px, 190px, 190px)
  th.description, td.description
    +width(520px, 520px, 520px)

// BUTTONS - TABLE WHITE RED BLUE
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

a.approve, a.reject, a.spam
  +m-p-w-h-p-t-b-l-r-f("", 6px 10px)
  +inlineblock
  cursor: pointer
  +font("", normal, 1em, 18px, "", none, center)
  &:hover
    text-decoration: none

a.spam
  +m-p-w-h-p-t-b-l-r-f(0 -10px 0 0, 6px 20px 6px 10px)
  margin-right: -10px
  color: $dark3
  +border(1px, solid, #dcdcdc, "", 5px 0 0 5px)
  +gradient-light-1
  &:hover
    color: $dark2
    +border(1px, solid, #c6c6c6)
    +gradient-light-2

a.reject
  color: $light0
  +border(1px, solid, $red4, "", 5px 0 0 5px)
  +gradient-red-1
  &:hover
    color: $light0
    +border(1px, solid, $red5)
    +gradient-red-2

a.approve
  color: $light0
  +border(1px, solid, $blue4, "", 0 5px 5px 0)
  +gradient-blue-1
  &:hover
    color: $light0
    +border(1px, solid, $blue5)
    +gradient-blue-2

// !TABLES - ACTIVITY
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

table.activity, table.activity tbody
  +width(770px, 770px, 770px)
  overflow: hidden

// !TABLES - EXPERIMENTS
///////////////////////////////////////////////////////////////////////////////////////////////////




// SCROLLING /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

// SCROLLING - HEADER
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.scrollheader 
  #header
    position: fixed
    top: 0
    left: 0
    right: 0

    #header_wrapper
      +m-p-w-h-p-t-b-l-r-f(-48px 0 0 0)
      .logo
        +m-p-w-h-p-t-b-l-r-f(56px 0 0 0, "", "", 20px)
        text-shadow: #EEE 0px 1px 0px
        a
          +m-p-w-h-p-t-b-l-r-f("", 0 0 0 40px, "")
          +font("", normal, 1.5em, 1.25em, $dark1)
          background: url("../images/icon_logo_small_dc21.png") 10px top no-repeat
  #content
    +m-p-w-h-p-t-b-l-r-f(0 auto, 97px 20px 0 20px)

// SCROLLING - NOTIFICATION
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.scrollnotification
  #header #header_wrapper
    margin: 41px 0 0 0
  #notice, #alert
    +m-p-w-h-p-t-b-l-r-f("", "", "", "", fixed, 0, "", 0, 0)

// SCROLLING - HEADER + NOTIFICATION
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.scrollheader.scrollnotification
  #header #header_wrapper
    margin: -8px 0 0 0
  #content
    padding: 138px 0 0 0

// SCROLLING - ACCOUNT MENU
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.scrollheader 
  #header #accountmenu_container
    top: 39px
#content_wrapper.notification #header #accountmenu_container
  top: 128px
#content_wrapper.scrollnotification #header #accountmenu_container
  top: 87px
#content_wrapper.scrollheader.scrollnotification #header #accountmenu_container
  top: 79px

// SCROLLING - ACCOUNT MENU
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.devinfo 
  #content
    padding: 0 0 100px 0
#content_wrapper.devinfo.scrollheader 
  #content
    padding: 97px 0 100px 0
#content_wrapper.devinfo.scrollheader.scrollnotification 
  #content
    padding: 138px 0 100px 0

// HEADER ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

// HEADER - LAYOUT
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#header
  +m-p-w-h-p-t-b-l-r-f("", "", 100%, "", relative, 0)
  z-index: 10

  #header_wrapper
    height: 88px
    background: url("../images/header-bg.png") top left repeat-x
    color: $dark3
    +boxshadow-2

    .container
      +m-p-w-h-p-t-b-l-r-f(0 auto, 0 20px)
      +width("", 940px, 1100px)
      min-height: 100%

      .logo
        +m-p-w-h-p-t-b-l-r-f(15px 0 0 0, "", 300px, 60px)
        float: left
        overflow: visible
        +inlineblock
        +textshadow-2
        a
          +m-p-w-h-p-t-b-l-r-f("", 0 0 0 60px, "", 60px)
          background: url("../images/icon_logo_dc21.png") left top no-repeat
          +font("", normal, 3em, 1.35em, $dark2)
          +inlineblock
          &:hover
            text-decoration: none

// HEADER - MENU
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#header
  .menu
    +m-p-w-h-p-t-b-l-r-f(49px 0 0 0, "", "", "", "", "", "", "", "", right)
    li
      margin: 0 0 0 20px
      +inlineblock
      cursor: pointer
      a, span
        +m-p-w-h-p-t-b-l-r-f("", 10px)
        +font("", normal, "", "", $dark3)
        +textshadow-2
        +inlineblock
        &:hover
          color: $dark2
          text-decoration: none
          cursor: pointer
    li.active
      height: 50px
      background: url("../images/header-active.png") center 38px no-repeat
      a, span
        color: $dark1

// HEADER - MENU - HOME
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#header
  #home 
    a
      +m-p-w-h-p-t-b-l-r-f("", 6px 20px 8px 20px, 20px, 24px)
      background: url("../images/icon_home_light.png") center 8px no-repeat
      &:hover
        background: url("../images/icon_home_dark.png") center 8px no-repeat

  #home.active
    a
      background: url("../images/icon_home_dark.png") center 8px no-repeat

// HEADER - MENU - USER
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#header
  span#accountmenu
    +m-p-w-h-p-t-b-l-r-f(10px, 0 25px 0 0)
    background: url("../images/icon_security_light.png") right center no-repeat
    -moz-background-size: 16px
    background-size: 16px
    &:hover, .active
      color: $dark1
      background: url("../images/icon_security_dark.png") right center no-repeat
      -moz-background-size: 16px
  span#accountmenu.active
    color: $dark1
    background: url("../images/icon_security_dark.png") right center no-repeat
    -moz-background-size: 16px

  li.active #accountmenu
    color: $dark1
    background: url("../images/icon_security_dark.png") right center no-repeat
    -moz-background-size: 16px
    background-size: 16px

#header

  #accountmenu_container
    +m-p-w-h-p-t-b-l-r-f(0 -548px 0 0, "", "", "", absolute, 87px, "", "", 50%)
    display: none
    color: $dark1
    background: #D6D6D6
    +border(1px, solid, #c6c6c6, 0 1px 1px 1px, 0 0 5px 5px)

    ul li
      +m-p-w-h-p-t-b-l-r-f(0px)
      display: block
      &:hover
        background: $dark1

      a
        +m-p-w-h-p-t-b-l-r-f("", 10px 0 10px 13px)
        color: $dark3
        display: block
        text-shadow: none
        &:hover
          color: #F1F1F1
    li.settings
      a
        +m-p-w-h-p-t-b-l-r-f("", 10px 0 10px 33px)
        background: url("../images/icon_options_light.png") 10px center no-repeat

// HEADER - MENU - SIGNUP
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#header
  .menu 
    li#signup
      background: #4D90F3
      +border(1px, solid, #3079ed, "", 3px 3px 0 0)

      a
        +m-p-w-h-p-t-b-l-r-f("", 10px 20px 9px 20px, "", 18px)
        color: #F7F7F7
        text-shadow: 0 1px rgba(0, 0, 0, 0.1)

    li#signup.active
      +m-p-w-h-p-t-b-l-r-f("", "", "", 37px)

      a
        +m-p-w-h-p-t-b-l-r-f("", "", "", 30px)
        background: transparent url(../images/header-active-signup.png) center 37px no-repeat

// BODY //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

#content_wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -38px

#content
  +m-p-w-h-p-t-b-l-r-f(20px auto 0 auto, 0 20px, "", 100%)
  +width(1100px, 1100px, 1100px)
  +border(80px, solid, $blue6, 0 0 80px 0)

#content_container
  +m-p-w-h-p-t-b-l-r-f(10px auto 0 auto, 20px)
  +width(1060px, 1060px, 1060px)
  +boxshadow-2
  +border("", "", "", "", 2px)
  background: $light0

#content 
  .container
    +m-p-w-h-p-t-b-l-r-f(20px 0, "", 800px)
    +clearfix

  .container_centered
    +m-p-w-h-p-t-b-l-r-f(20px auto, "", 800px)
    +clearfix

// BODY - TABBED CONTENT NAVIGATION
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.contentnavigation
  +m-p-w-h-p-t-b-l-r-f(0 0 40px 0)
  +border(1px, solid, $dark4, 0 0 1px 0)
  display: block

  li
    +m-p-w-h-p-t-b-l-r-f(0 0 -1px 0, "", "", 39px)
    background: #F1F1F1
    +border(1px, solid, #dfdfdf, "", 3px 3px 0 0, "", "", "", 1px, solid, $dark4)
    +inlineblock

    a
      +m-p-w-h-p-t-b-l-r-f("", 10px 15px 10px 45px)
      +font("", normal, 1em, 20px, $dark3)
      +textshadow-2
      +inlineblock
      &:hover
        color: $dark2
        text-decoration: none
        cursor: pointer

  li.actions
    background: #CCC

  li#data
    a
      background: transparent url(../images/icon_data_light.png) 15px center no-repeat
      &:hover
        background: transparent url(../images/icon_data_dark.png) 15px center no-repeat
  li#data.active
    a
      background: transparent url(../images/icon_data_dark.png) 15px center no-repeat

  li#dashboard
    a
      background: transparent url(../images/icon_dashboard_light.png) 15px center no-repeat
      &:hover
        background: transparent url(../images/icon_dashboard_dark.png) 15px center no-repeat
  li#dashboard.active
    a
      background: transparent url(../images/icon_dashboard_dark.png) 15px center no-repeat

  li#facilities
    a
      background: transparent url(../images/icon_facility_light.png) 15px center no-repeat
      &:hover
        background: transparent url(../images/icon_facility_dark.png) 15px center no-repeat
  li#facilities.active
    a
      background: transparent url(../images/icon_facility_dark.png) 15px center no-repeat

  li#users
    a
      background: transparent url(../images/icon_user_light.png) 15px center no-repeat
      &:hover
        background: transparent url(../images/icon_user_dark.png) 15px center no-repeat
  li#users.active
    a
      background: transparent url(../images/icon_user_dark.png) 15px center no-repeat

  li#requests
    a
      background: transparent url(../images/icon_requests_light.png) 15px center no-repeat
      &:hover
        background: transparent url(../images/icon_requests_dark.png) 15px center no-repeat
  li#requests.active
    a
      background: transparent url(../images/icon_requests_dark.png) 15px center no-repeat

  li#edit
    a
      background: transparent url(../images/icon_edit_light.png) 15px center no-repeat
      &:hover
        background: transparent url(../images/icon_edit_dark.png) 15px center no-repeat
  li#edit.active
    a
      background: transparent url(../images/icon_edit_dark.png) 15px center no-repeat

  li#mappings
    a
      background: transparent url(../images/icon_columnmapping_light.png) 15px center no-repeat
      &:hover
        background: transparent url(../images/icon_columnmapping_dark.png) 15px center no-repeat
  li#mappings.active
    a
      background: transparent url(../images/icon_columnmapping_dark.png) 15px center no-repeat

  li#password
    a
      background: transparent url(../images/icon_password_light.png) 15px center no-repeat
      &:hover
        background: transparent url(../images/icon_password_dark.png) 15px center no-repeat
  li#password.active
    a
      background: transparent url(../images/icon_password_dark.png) 15px center no-repeat





  li.active
    background: #FFF
    +border(1px, solid, $dark4, "", "", "", "", "", 1px, solid, #FFF)
    a
      color: $dark2
  li.actions
    +m-p-w-h-p-t-b-l-r-f(0 0 -1px 0, 0 0 0 20px, "", 39px, "", "", "", "", "", right)
    background: #FFF
    +border(1px, solid, $light0)
    +inlineblock
    a
      +m-p-w-h-p-t-b-l-r-f("", 0)


// FOOTER ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

#footer
  +m-p-w-h-p-t-b-l-r-f(0 auto, "", "", "", relative)
  +font("", normal, 0.813em, "", $dark3, none, center)

  .footerwrapper
    +m-p-w-h-p-t-b-l-r-f("", 10px 0 0 0, "", 26px, "", 0, 0, "", 0)
    min-width: 600px
    background: #F5F5F5
    +border(1px, solid, #dfdfdf)
    p
      +inlineblock

  .logo
    +m-p-w-h-p-t-b-l-r-f(3px 6px 0 0, "", 14px, 14px)
    +inlineblock
    background: url(/images/intersect_logo.png) center
    
  #dev
    cursor: pointer
    +inlineblock

// FOOTER - DEV INFO
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

#footer 
  #devinfo
    +m-p-w-h-p-t-b-l-r-f("", 0 0 13px 0, 100%, "", absolute, "", 25px)
    display: none
    background: transparent url(../images/header-active-dark.png) center bottom no-repeat
    +border(1px, solid, #666, 1px 0 0 0)

    .debug_dump
      +m-p-w-h-p-t-b-l-r-f("", 20px)
      color: #FFF
      background: #333
      +boxshadow-2
      box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
      -moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
      -webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)

// LAYOUT ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//

// !LAYOUT - FORMS
///////////////////////////////////////////////////////////////////////////////////////////////////

form h3
  +m-p-w-h-p-t-b-l-r-f(0 0 0 170px, 18px 0 10px 0)
  +border(1px, solid, #D9D9D9, 1px 0 0 0, 2px)

  
.control-group
  +m-p-w-h-p-t-b-l-r-f(0 0 9px 0)
  +clearfix
  .control-label
    float: left
    width: 150px
    padding-top: 5px
    text-align: right
  .controls
    +m-p-w-h-p-t-b-l-r-f(0 0 0 170px)
    .record
      +m-p-w-h-p-t-b-l-r-f("", 5px 0 0 0)
    .alert
      +m-p-w-h-p-t-b-l-r-f(0 0 18px 0)

.form-actions
  //+m-p-w-h-p-t-b-l-r-f(18px 0, 18px 20px 18px 170px)
  +m-p-w-h-p-t-b-l-r-f(18px 0, 18px 20px 18px 0)
  \:before, .form-actions:after
    display: table
    content: ""
  \form-actions:after
    clear: both
  .actions
    +m-p-w-h-p-t-b-l-r-f(0 0 0 170px, 0)
  .actions-pre
    +m-p-w-h-p-t-b-l-r-f("", "", 150px)
    float: left
    text-align: right

.row
  span
    line-height: 38px

.rowform
  white-space: nowrap
  span
    +m-p-w-h-p-t-b-l-r-f("", 10px 0 10px 0)
    +inlineblock
    line-height: 18px


// LAYOUT - 404
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.input_group
  margin: 0 0 20px 0

// LAYOUT - 404
/*///////////////////////////////////////////////////////////////////////////////////////////////*/

.dialog
  margin: 36px auto 0 auto
  width: 800px
  text-align: center

// ADMIN /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//


[class^="icon-"],
[class*=" icon-"]
  display: inline-block
  width: 14px
  height: 14px
  line-height: 14px
  vertical-align: text-top
  background-image: url("/images/glyphicons-halflings.png")
  background-position: 14px 14px
  background-repeat: no-repeat
  *margin-right: .3em

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child
  *margin-left: 0

.icon-white
  background-image: url("/images/glyphicons-halflings-white.png")

.icon-glass
  background-position: 0      0

.icon-music
  background-position: -24px 0

.icon-search
  background-position: -48px 0

.icon-envelope
  background-position: -72px 0

.icon-heart
  background-position: -96px 0

.icon-star
  background-position: -120px 0

.icon-star-empty
  background-position: -144px 0

.icon-user
  background-position: -168px 0

.icon-film
  background-position: -192px 0

.icon-th-large
  background-position: -216px 0

.icon-th
  background-position: -240px 0

.icon-th-list
  background-position: -264px 0

.icon-ok
  background-position: -288px 0

.icon-remove
  background-position: -312px 0

.icon-zoom-in
  background-position: -336px 0

.icon-zoom-out
  background-position: -360px 0

.icon-off
  background-position: -384px 0

.icon-signal
  background-position: -408px 0

.icon-cog
  background-position: -432px 0

.icon-trash
  background-position: -456px 0

.icon-home
  background-position: 0 -24px

.icon-file
  background-position: -24px -24px

.icon-time
  background-position: -48px -24px

.icon-road
  background-position: -72px -24px

.icon-download-alt
  background-position: -96px -24px

.icon-download
  background-position: -120px -24px

.icon-upload
  background-position: -144px -24px

.icon-inbox
  background-position: -168px -24px

.icon-play-circle
  background-position: -192px -24px

.icon-repeat
  background-position: -216px -24px

.icon-refresh
  background-position: -240px -24px

.icon-list-alt
  background-position: -264px -24px

.icon-lock
  background-position: -287px -24px

.icon-flag
  background-position: -312px -24px

.icon-headphones
  background-position: -336px -24px

.icon-volume-off
  background-position: -360px -24px

.icon-volume-down
  background-position: -384px -24px

.icon-volume-up
  background-position: -408px -24px

.icon-qrcode
  background-position: -432px -24px

.icon-barcode
  background-position: -456px -24px

.icon-tag
  background-position: 0 -48px

.icon-tags
  background-position: -25px -48px

.icon-book
  background-position: -48px -48px

.icon-bookmark
  background-position: -72px -48px

.icon-print
  background-position: -96px -48px

.icon-camera
  background-position: -120px -48px

.icon-font
  background-position: -144px -48px

.icon-bold
  background-position: -167px -48px

.icon-italic
  background-position: -192px -48px

.icon-text-height
  background-position: -216px -48px

.icon-text-width
  background-position: -240px -48px

.icon-align-left
  background-position: -264px -48px

.icon-align-center
  background-position: -288px -48px

.icon-align-right
  background-position: -312px -48px

.icon-align-justify
  background-position: -336px -48px

.icon-list
  background-position: -360px -48px

.icon-indent-left
  background-position: -384px -48px

.icon-indent-right
  background-position: -408px -48px

.icon-facetime-video
  background-position: -432px -48px

.icon-picture
  background-position: -456px -48px

.icon-pencil
  background-position: 0 -72px

.icon-map-marker
  background-position: -24px -72px

.icon-adjust
  background-position: -48px -72px

.icon-tint
  background-position: -72px -72px

.icon-edit
  background-position: -96px -72px

.icon-share
  background-position: -120px -72px

.icon-check
  background-position: -144px -72px

.icon-move
  background-position: -168px -72px

.icon-step-backward
  background-position: -192px -72px

.icon-fast-backward
  background-position: -216px -72px

.icon-backward
  background-position: -240px -72px

.icon-play
  background-position: -264px -72px

.icon-pause
  background-position: -288px -72px

.icon-stop
  background-position: -312px -72px

.icon-forward
  background-position: -336px -72px

.icon-fast-forward
  background-position: -360px -72px

.icon-step-forward
  background-position: -384px -72px

.icon-eject
  background-position: -408px -72px

.icon-chevron-left
  background-position: -432px -72px

.icon-chevron-right
  background-position: -456px -72px

.icon-plus-sign
  background-position: 0 -96px

.icon-minus-sign
  background-position: -24px -96px

.icon-remove-sign
  background-position: -48px -96px

.icon-ok-sign
  background-position: -72px -96px

.icon-question-sign
  background-position: -96px -96px

.icon-info-sign
  background-position: -120px -96px

.icon-screenshot
  background-position: -144px -96px

.icon-remove-circle
  background-position: -168px -96px

.icon-ok-circle
  background-position: -192px -96px

.icon-ban-circle
  background-position: -216px -96px

.icon-arrow-left
  background-position: -240px -96px

.icon-arrow-right
  background-position: -264px -96px

.icon-arrow-up
  background-position: -289px -96px

.icon-arrow-down
  background-position: -312px -96px

.icon-share-alt
  background-position: -336px -96px

.icon-resize-full
  background-position: -360px -96px

.icon-resize-small
  background-position: -384px -96px

.icon-plus
  background-position: -408px -96px

.icon-minus
  background-position: -433px -96px

.icon-asterisk
  background-position: -456px -96px

.icon-exclamation-sign
  background-position: 0 -120px

.icon-gift
  background-position: -24px -120px

.icon-leaf
  background-position: -48px -120px

.icon-fire
  background-position: -72px -120px

.icon-eye-open
  background-position: -96px -120px

.icon-eye-close
  background-position: -120px -120px

.icon-warning-sign
  background-position: -144px -120px

.icon-plane
  background-position: -168px -120px

.icon-calendar
  background-position: -192px -120px

.icon-random
  background-position: -216px -120px

.icon-comment
  background-position: -240px -120px

.icon-magnet
  background-position: -264px -120px

.icon-chevron-up
  background-position: -288px -120px

.icon-chevron-down
  background-position: -313px -119px

.icon-retweet
  background-position: -336px -120px

.icon-shopping-cart
  background-position: -360px -120px

.icon-folder-close
  background-position: -384px -120px

.icon-folder-open
  background-position: -408px -120px

.icon-resize-vertical
  background-position: -432px -119px

.icon-resize-horizontal
  background-position: -456px -118px


