@charset"UTF-8";

/* VARIABLES /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* VARIABLES - COLOURS
/////////////////////////////////////////////////////////////////////////////////////////////////*/

$dark0: #000; $dark1: #333; $dark2: #333; $dark3: #666; $dark4: #999;
$light0: #FFF; $light1: #F8F8F8; $light2: #F5F5F5; $light3: #F1F1F1;
$blue1: #4D90FE; $blue2: #4787ED; $blue3: #357AE8; $blue4: #3079ED; $blue5: #2F5BB7; $blue6: #E5F6FD; 
$red1: #FF5742; $red2: #DD4C39; $red3: #DB3D2B; $red4: #DD4C39; $red5: #B0281A;


/* MIXINS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

@mixin opacity-25 { filter: alpha(opacity=25); -khtml-opacity: 0.25; -moz-opacity: 0.25; opacity: 0.25; }
@mixin opacity-50 { filter: alpha(opacity=50); -khtml-opacity: 0.50; -moz-opacity: 0.50; opacity: 0.50; }
@mixin opacity-75 { filter: alpha(opacity=75); -khtml-opacity: 0.75; -moz-opacity: 0.75; opacity: 0.75; }
@mixin opacity-100 { filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1; opacity: 1; }


/* MIXINS - FONT CONTROLL
/////////////////////////////////////////////////////////////////////////////////////////////////*/

@mixin font($style:"", $weight:"", $size:"", $leading:"", $color:"", $decoration:"", $align:"") {
  @if $style != "" { font-style: $style; }
  @if $weight != "" { font-weight: $weight; }
  @if $size != "" { font-size: $size; }
  @if $leading != "" { line-height: $leading; }
  @if $color != "" { color: $color; }
  @if $decoration != "" { text-decoration: $decoration; }
  @if $align != "" { text-align: $align; }
  font-family: Helvetica, Arial, sans-serif;
}

@mixin inlineblock {
  display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: top; /* Cross-browser Inline-block */
}

@mixin textshadow-2 { text-shadow: #EEE 0px 2px 0px; }


/* MIXINS - BORDER CONTROLL
/////////////////////////////////////////////////////////////////////////////////////////////////*/

@mixin border($color) { border: 1px solid $color; }

@mixin borderradius-2 { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; /* Cross-browser Border-Radius */ }
 
@mixin borderradius-top-3 { border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; }

@mixin borderradius-top-5 { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
@mixin borderradius-bottom-5 { -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
@mixin borderradius-right-5 { -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; }
@mixin borderradius-left-5 { -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }

@mixin boxshadow {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}
@mixin boxshadow-2 {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}


@mixin gradient-light-1 {
  background-color: $light2; text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from($light2), to($light3)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, $light2, $light3); /* Chrome10+,Safari5.1+ */
  background-image: -moz-linear-gradient(top, $light2, $light3); /* FF3.6+ */
  background-image: -ms-linear-gradient(top, $light2, $light3); /* IE10+ */
  background-image: -o-linear-gradient(top, $light2, $light3); /* Opera11.10+ */
  background-image: linear-gradient(top, $light2, $light3); /* W3C */
}

@mixin gradient-light-2 {
  background-color: $light1; text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, from($light1), to($light3));
  background-image: -webkit-linear-gradient(top, $light1, $light3);
  background-image: -moz-linear-gradient(top, $light1, $light3);
  background-image: -ms-linear-gradient(top, $light1, $light3);
  background-image: -o-linear-gradient(top, $light1, $light3);
  background-image: linear-gradient(top, $light1, $light3);
}

@mixin gradient-blue-1 {
  background-color: $blue1; text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from($blue1), to($blue2));
  background-image: -webkit-linear-gradient(top, $blue1, $blue2);
  background-image: -moz-linear-gradient(top, $blue1, $blue2);
  background-image: -ms-linear-gradient(top, $blue1, $blue2);
  background-image: -o-linear-gradient(top, $blue1, $blue2);
  background-image: linear-gradient(top, $blue1, $blue2);
}

@mixin gradient-blue-2 {
  background-color: $blue3; text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear,left top, left bottom, from($blue1), to($blue3));
  background-image: -webkit-linear-gradient(top, $blue1, $blue3);
  background-image: -moz-linear-gradient(top, $blue1, $blue3);
  background-image: -ms-linear-gradient(top, $blue1, $blue3);
  background-image: -o-linear-gradient(top, $blue1, $blue3);
  background-image: linear-gradient(top, $blue1, $blue3);
}

@mixin gradient-red-1 {
  background-color: $red1; text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear,left top, left bottom, from($red1), to($red2));
  background-image: -webkit-linear-gradient(top, $red1, $red2);
  background-image: -moz-linear-gradient(top, $red1, $red2);
  background-image: -ms-linear-gradient(top, $red1, $red2);
  background-image: -o-linear-gradient(top, $red1, $red2);
  background-image: linear-gradient(top, $red1, $red2);
}

@mixin gradient-red-2 {
  background-color: $red3; text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear,left top, left bottom, from($red1), to($red3));
  background-image: -webkit-linear-gradient(top, $red1, $red3);
  background-image: -moz-linear-gradient(top, $red1, $red3);
  background-image: -ms-linear-gradient(top, $red1, $red3);
  background-image: -o-linear-gradient(top, $red1, $red3);
  background-image: linear-gradient(top, $red1, $red3);
}

/* MIXINS - CLEARFIX
/////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Include this Mixin on things that will contain floats. These rules will cause the space to be filled. */
@mixin clearfix { zoom:1;
 &:before { content: "\0020"; display: block; height: 0; overflow: hidden; }
 &:after { content: "\0020"; display: block; height: 0; overflow: hidden; clear: both; }
}


/* BASE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

html, body { height: 100%; width: 100%; @include font("", "", 100%, 1.25em, $dark2, ""); vertical-align: baseline; }

body { background: $blue6; }

h1, h2, h3, h4, h5, h6 { @include font("", "", 1em, 1em, $dark2); } /* Base heading styles */ 
h1 { @include font("", normal, 1.5em, 40px); }
h2 { @include font("", bold, 1.25em, 30px); margin: 0 0 20px 0; padding: 0 0 10px 0; border-bottom: 1px dashed #B9B9B9; }
h3 { @include font("", bold, 1em, 30px, $dark3); }

p { } /* Paragraph style. Use for text, or for a libe break. </br> is for pebs, and you're not a pleb right? */
span { } /* Use as a default container for text that requires a Class or ID */
a, a:visited { @include font("", bold, 1em, "", $dark1, none); cursor: pointer; }
a:hover { text-decoration: underline; } /* Basic link feedback for user */

ul { }
li { }

label {
  margin: 0 -4px 0 0; padding: 10px 20px 10px 10px; width: 130px; @include inlineblock;
  @include font("", bold, 1em, 18px); light-space: nowrap; cursor: pointer;
}

input[type=textarea], input[type=text], input[type=password], input[type=search], textarea { 
  margin: 3px 0; padding: 0 10px;  height: 30px; @include border(#D9D9D9); border-top-color: #C0C0C0; resize: none; 
  @include font("", "", 1em, 1em);
  @include borderradius-2;
}
input[type=textarea]:hover, input[type=text]:hover, input[type=password]:hover, input[type=search]:hover, textarea:hover { border-color: #B9B9B9; }
input[type=textarea]:focus, input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, textarea:focus { border-color: #3079ED; outline: none; }
input[type=password] { font: normal normal normal 1.25em/1em Helvetica, Arial, sans-serif; color: #333; }


/* NOTIFICATIONS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Base notification container for users */

#notice p, #alert p { 
  margin: 0; padding: 10px 0; width: 100%; height: 20px; position: relative; 
  @include font("", bold, 1em, 20px, $light0, "", center); 
}
#notice p { background-color: $blue1; border-bottom: 1px solid $blue4; cursor: pointer; }
#alert p { background-color: $red2; border-bottom: 1px solid $red5; cursor: pointer; }

#notice span, #alert span { width: 20px; float: right; margin: -40px 10px 0 0; @include font("", bold, 1.75em, 35px, #404040);
text-shadow: 0 1px 0 $light0; @include opacity-25; cursor: pointer;
}

#notice:hover span, #alert:hover span { @include opacity-50; }

.formerror { margin: 0 0 20px 0; color: $red4; }
.field_with_errors { width: 160px; @include inlineblock; }
.field_with_errors input { @include border($red4); }


/* MODULES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* BASE STYLES - STRUCTURE MODULES
/////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Apply these class modules to elements. Any more than 3 modules per element is overkill and you should probably have a specific container. */

.floatleft { float: left; } /* Float an element to the left */
.floatright { float: right; } /* Float an element to the right */

.row { margin: 0; } /* Basic row container */
.rowform { margin: 0 0 18px 0; } /* Basic row / horizontal container with 1 paragraph return equiv. */
.fields { margin: 0 0 18px 0; @include inlineblock; }

.actions { margin: 36px 0 0 0; }


/* BASE STYLES - TEXT MODULES
/////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Apply these to specific font containers. Any more than 2 text modules is overkill and a specific style / container should be used */

.details { @include font("", "", 0.75em, 18px, $dark3); }
.required { color: #E25358; }

.bold { font-weight: bold; }

.textalignleft { text-align: left; } /* Align text to the left */
.textalignright { text-align: right; } /* Align text to the right */
.textaligncenter { text-align: center; } /* Align text to the center */

.truncate { light-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* ICONS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

a.search.whitebutton span { padding: 0 0 0 25px; background: url('../images/icon_search_light.png') left center no-repeat; }
a.search.whitebutton:hover span { padding: 0 0 0 25px; background: url('../images/icon_search_dark.png') left center no-repeat; }


a.view { margin: 1px auto; height: 16px; width: 100%; display:block; background: url('../images/icon_view_light.png') center center no-repeat; }
a.view:hover { background: url('../images/icon_view_dark.png') center center no-repeat; }

a.edit { margin: 1px auto; height: 37px; width: 100%; display:block; background: url('../images/icon_edit_light.png') center center no-repeat; }
a.edit:hover { background: url('../images/icon_edit_dark.png') center center no-repeat; }


/* BUTTONS ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* BUTTONS - DEFAULT BUTTON STYLE
/////////////////////////////////////////////////////////////////////////////////////////////////*/

input[type=button], button {
  margin: 0; padding: 5px 10px; height: 30px; cursor: pointer; @include inlineblock;
  @include font("", "", 0.875em, 20px, $dark3, none, center);
  @include gradient-light-1; @include border(#DCDCDC); @include borderradius-2;
}

input[type=button]:hover, button:hover { color: $dark2; @include border(#C6C6C6); @include gradient-light-2; }
input[type=button]:active, button:active { @include boxshadow; }

/* BUTTONS - DISABLED BUTTON STYLE
/////////////////////////////////////////////////////////////////////////////////////////////////*/

input[type=disabled], input[type=disabled]:hover {
  margin: 0; padding: 5px 10px; height: 30px; cursor: default; @include inlineblock;
  @include font("", "", 0.875em, 20px, $dark3, none, center);
  @include gradient-light-1; @include border(#DCDCDC); @include borderradius-2;
  background-color: #FFFFFF; border: 1px solid #E0E0E0; @include borderradius-2;
}

input[type=disabled]:active { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; } /* Disabled Button Style */

/* BUTTONS - WHITE / GREY
/////////////////////////////////////////////////////////////////////////////////////////////////*/

input.whitebutton, input[type=button], button.whitebutton, a.whitebutton, .whitebutton {
  margin: 0; padding: 5px 10px; height: 18px; @include font("", normal, 0.875em, 18px, $dark3, none, center);
  @include gradient-light-1; @include border(#DCDCDC); @include borderradius-2; @include inlineblock;
}

.whitebutton:hover, a.whitebutton:hover { color: $dark2; @include border(#C6C6C6); @include gradient-light-2; }
.whitebutton:active, a.whitebutton:active { @include boxshadow; }

/* BUTTONS - BLUE
/////////////////////////////////////////////////////////////////////////////////////////////////*/

input.bluebutton, input[type=submit], button.bluebutton, a.bluebutton, .bluebutton, {
  padding: 5px 10px; min-width: 140px; @include font("", normal, 0.875em, 18px, $light0, none, center);
  @include gradient-blue-1; @include border($blue4); @include borderradius-2; @include inlineblock;
}

button.bluebutton, input.bluebutton[type=submit] { height: 30px; }

input.bluebutton:hover, input[type=submit]:hover, button.bluebutton:hover, a.bluebutton:hover, .bluebutton:hover, {
  @include gradient-blue-2; @include border($blue5); 
}
input.bluebutton:active, input[type=submit]:active, button.bluebutton:active, a.bluebutton:active, .bluebutton:active, { @include boxshadow; }

/* BUTTONS - RED
/////////////////////////////////////////////////////////////////////////////////////////////////*/

input.redbutton, button.redbutton, a.redbutton, .redbutton {
  margin: 0; padding: 5px 10px; height: 18px; @include font("", normal, 0.875em, 18px, $light0, none, center);
  @include gradient-red-1; @include border($red4); @include borderradius-2; @include inlineblock;
}

.redbutton:hover, a.redbutton:hover { @include boxshadow; @include border($red5); @include gradient-red-2; }
.redbutton:active, a.redbutton:active { @include boxshadow; }



/* TABLES ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Note: Table Data cells will stretch to fill 100% of a table's width. If the width specified on individual cells 
 * dosen't add up to the total width, they  will expand to fit. */

table { @include font("", "", 0.813em, 18px, "", left); }
table, tbody { width: 1060px; max-width: 1060px; min-width: 1060px; border-collapse: collapse; overflow: hidden; }

th, td { border-top: 1px solid #ddd; }

tr { margin: 0; padding: 0; }
th { margin: 0; padding: 10px 10px 9px 0; width: 140px;  max-width: 140px; min-width: 140px; @include font("", bold, 1em, 18px, "", "", left); }
td { margin: 0; padding: 10px 10px 9px 0; width: 140px; max-width: 140px; min-width: 140px; overflow: hidden; light-space: nowrap; text-overflow: ellipsis; }

tbody tr.field_bg { background-color: #f9f9f9; }

/* Specific cell types to balance width - View Access Requests  */
#access_requests th.email, #access_requests td.email { width: 300px; } 
#access_requests th.firstname, #access_requests td.firstname { width: 140px; min-width: 140px; max-width: 140px; } 
#access_requests th.lastname, #access_requests td.lasttname { width: 220px; min-width: 220px; max-width: 220px; } 
#access_requests th.email, #access_requests td.email { width: 300px; min-width: 300px; max-width: 300px; }
#access_requests th.actions, #access_requests td.actions { padding: 3px 0 0 0; width: 160px; min-width: 160px; max-width: 160px; }

/* BUTTONS - TABLE WHITE RED BLUE
/////////////////////////////////////////////////////////////////////////////////////////////////*/

a.approve, a.reject, a.spam { margin: 0; padding: 6px 10px; cursor: pointer; @include font("", normal, 1em, 18px, "", none, center); }
a.approve:hover, a.reject:hover, a.spam:hover { text-decoration: none; }

a.spam { margin: 0 -10px 0 0; padding: 6px 20px 6px 10px; color: $dark3; @include border(#DCDCDC); @include borderradius-left-5; @include gradient-light-1; }
a.spam:hover { color: $dark2; @include border(#C6C6C6); @include gradient-light-2; }

a.reject { color: $light0; @include border($red4); @include borderradius-left-5; @include gradient-red-1; }
a.reject:hover { color: $light0; @include border($red5); @include gradient-red-2; }

a.approve { color: $light0; @include border($blue4); @include borderradius-right-5; @include gradient-blue-1; }
a.approve:hover { color: $light0; @include border($blue5); @include gradient-blue-2; }

/* TABLES - ACTIVITY
/////////////////////////////////////////////////////////////////////////////////////////////////*/

table.activity, table.activity tbody { width: 770px; min-width: 770px; max-width: 770px; overflow: hidden; }


/* SCROLLING /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* SCROLLING - HEADER
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.scrollheader #header { position: fixed; top: 0; }
#content_wrapper.scrollheader #header #header_wrapper {  margin: -48px 0 0 0; }
#content_wrapper.scrollheader #content { margin: 0 auto 0 auto; padding: 97px 0 0 0; }
#content_wrapper.scrollheader #header .logo { margin: 56px 0 0 0; padding: 0; height: 20px; @include font("", normal, 1.5em, 1em, $dark1); text-shadow: #EEE 0px 1px 0px; }

/* SCROLLING - NOTIFICATION
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.scrollnotification #header #header_wrapper {  margin: 41px 0 0 0; }
#content_wrapper.scrollnotification #notice, #content_wrapper.scrollnotification #alert { position: fixed; top: 0; left: 0; right: 0; }

/* SCROLLING - HEADER + NOTIFICATION
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.scrollheader.scrollnotification #header #header_wrapper { margin: -8px 0 0 0; }
#content_wrapper.scrollheader.scrollnotification #content { padding: 138px 0 0 0; }

/* SCROLLING - ACCOUNT MENU
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.scrollheader #header #accountmenu_container { top: 39px; }
#content_wrapper.notification #header #accountmenu_container { top: 128px; }
#content_wrapper.scrollnotification #header #accountmenu_container { top: 87px; }
#content_wrapper.scrollheader.scrollnotification #header #accountmenu_container { top: 79px; }

/* SCROLLING - ACCOUNT MENU
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#content_wrapper.devinfo #content { padding: 0 0 100px 0; }
#content_wrapper.devinfo.scrollheader #content { padding: 97px 0 100px 0; }
#content_wrapper.devinfo.scrollheader.scrollnotification #content { padding: 138px 0 100px 0; }


/* HEADER ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* HEADER - LAYOUT
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#header { margin: 0; padding: 0; width: 100%; position: relative; top: 0; }
#header #header_wrapper { height: 88px; background: url('../images/header-bg.png') top left repeat-x; color: $dark3; @include boxshadow-2; }
#header .container { margin: 0 auto; padding: 0 20px; min-width: 940px; max-width: 1100px; min-height: 100%; }

#header .logo { margin: 20px 0 0 0; padding: 0; height: 48px; width: 300px; float:left; @include font("", bold, 3em, 1em, $dark2); @include textshadow-2; }
#header .logo a:hover { text-decoration: none; }

/* HEADER - MENU
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#header .menu { margin: 49px 0 0 0; padding: 0; float: right; }
#header .menu li { margin: 0 0 0 20px; @include inlineblock; cursor: pointer; }

#header .menu a, #header .menu span { margin: 0; padding: 10px; @include font("", normal, "", "", $dark3); @include textshadow-2; @include inlineblock; }
#header .menu a:hover, #header .menu span:hover { color: $dark2; text-decoration: none; cursor: pointer; }

#header .menu li.active { height: 50px; background: url('../images/header-active.png') center 38px no-repeat; }
#header .menu li.active a, #home .menu li.active span { color: $dark1; }

/* HEADER - MENU - HOME
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#header .menu li#home a { padding: 6px 20px 8px 20px; width: 20px; height: 24px; background: url('../images/icon_home_light.png') center 8px no-repeat; }
#header .menu li#home a:hover { background: url('../images/icon_home_dark.png') center 8px no-repeat; }
#header .menu li#home.active a { background: url('../images/icon_home_dark.png') center 8px no-repeat; }

/* HEADER - MENU - USER
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#header .menu span#accountmenu { margin: 10px; padding: 0 25px 0 0; background: url('../images/icon_options_light.png') right center no-repeat; background-size: 16px;  }
#header .menu span#accountmenu:hover { color: $dark1; background: url('../images/icon_options_dark.png') right center no-repeat; background-size: 16px; }
#header .menu span#accountmenu.active { color: $dark1; background: url('../images/icon_options_dark.png') right center no-repeat; background-size: 16px; }
#header .menu li.active #accountmenu { color: $dark1; background: url('../images/icon_options_dark.png') right center no-repeat; background-size: 16px; }

#header #accountmenu_container { 
  margin: 0 -548px 0 0; top: 87px; right: 50%; position: absolute; display: none; color: $dark1;
  background: #D6D6D6; @include border(#C6C6C6); border-width: 0 1px 1px 1px; @include borderradius-bottom-5;
}
#header #accountmenu_container ul li { margin: 0; padding: 0; display: block; }
#header #accountmenu_container ul li a { margin: 0; padding: 10px 0 10px 13px; color: $dark3; display: block; text-shadow: none; }
#header #accountmenu_container ul li:hover { background: $dark1; }
#header #accountmenu_container ul li:hover a { color: #F1F1F1; }

/* HEADER - MENU - SIGNUP
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#header .menu li#signup { background: #4D90F3; @include border(#3079ED); @include borderradius-top-3; }
#header .menu li#signup a { padding: 10px 20px 9px 20px; height: 18px; color: #F7F7F7; text-shadow: 0 1px rgba(0,0,0,0.1); }
#header .menu li#signup.active { height: 37px; }
#header .menu li#signup.active a { height: 30px; background: transparent url(../images/header-active-signup.png) center 37px no-repeat; @include borderradius-top-3; }


/* BODY //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#content_wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -38px; }
#content { margin: 20px auto 0 auto; min-width: 940px; max-width: 1100px; height: 100%; border-bottom: 80px solid $blue6; }
#content_container { margin: 10px auto 0 auto; padding: 20px; min-width: 940px; max-width: 1100px; @include boxshadow-2; @include borderradius-2; background: $light0; }
#content .container { margin: 20px auto; width: 460px; @include clearfix; }


/* FOOTER ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#footer { margin: 0 auto 0 auto; position: relative; @include font("", normal, 0.813em, "", $dark3, none, center); }
#footer .footerwrapper { padding: 10px 0 0 0; min-width: 600px; height: 26px; bottom: 0; left: 0; right: 0; background: #F5F5F5; background: #F5F5F5; @include border(#DFDFDF); }

#footer .logo { margin: 3px 6px 0 0; height: 14px; width: 14px; @include inlineblock; background: url(/images/intersect_logo.png) center; }
#footer #dev { cursor: pointer; @include inlineblock; }

/* FOOTER - DEV INFO
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#footer #devinfo { padding: 0 0 13px 0; width: 100%; bottom: 25px; position: absolute; display: none; background: transparent url(../images/header-active-dark.png) center bottom no-repeat; border-top: 1px solid #666;
}
#footer .debug_dump { padding: 20px; color: #FFF; background: #333; @include boxshadow-2;
 box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5); -webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
 }


/* LAYOUT ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* LAYOUT - 404
/////////////////////////////////////////////////////////////////////////////////////////////////*/

.input_group { margin: 0 0 20px 0; }

/* LAYOUT - 404
/////////////////////////////////////////////////////////////////////////////////////////////////*/

.dialog { margin: 36px auto 0 auto; width: 800px; text-align: center; }


/* ADMIN /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* ADMIN - TABBED NAVIGATION
/////////////////////////////////////////////////////////////////////////////////////////////////*/

.adminnavigation { margin: 0 0 40px 0; padding: 0; @include border($dark4); border-width: 0 0 1px 0; display:block; }
.adminnavigation li { margin: 0 0 -1px 0; height: 39px; background: #F1F1F1; @include border(#DFDFDF); border-bottom: 1px solid $dark4;
@include inlineblock; @include borderradius-top-3;
}
.adminnavigation li a { margin: 0; padding: 10px 15px; @include font("", normal, "", 20px, $dark3); @include textshadow-2; @include inlineblock; }
.adminnavigation li a:hover { color: $dark2; text-decoration: none; cursor: pointer; }

.adminnavigation li.active { background: #FFF; @include border($dark4); border-bottom: 1px solid #FFF; }
.adminnavigation li.active a { color: $dark2; }

