!!!
%html
  %head
    = render 'layouts/head'
    <!--[if lt IE 7]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
    <![endif]-->
    
  %body
    #content_wrapper
      = render 'layouts/banner'
      #content
        -# %h1= yield :title
        = yield
    = render 'layouts/footer'
